/**
 Colors: Find and Replace for a quick scheme.
      mirage2      this-site
 1st: #242021      #242021          Top header
 2nd: #f5b23e      #f5b23e          Breadcrumb
 3rd: #a5a5a5      #a5a5a5          side-nav/h1..h7
*/


/* Override dspace-bootstrap-tweaks */
header .navbar-brand img {
    height: 80px;
}

header .navbar-brand {
    padding-top: 0px;
}

/* Override classic-mirage-style */
header .navbar-default {
    background-color: #242021;
}

.trail-wrapper {
    background-color: #f5b23e;
}
.trail-wrapper .breadcrumb > li + li:before, .trail-wrapper .breadcrumb, .trail-wrapper .breadcrumb > .active {
    color: #a5a5a5;
}
.trail-wrapper .sidebar-toggle .icon-bar {
    background-color: #a5a5a5;
}
.trail-wrapper .sidebar-toggle:hover, .trail-wrapper .sidebar-toggle:focus {
    background-color: #a5a5a5;
}

@media (max-width: 767px) {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #a5a5a5;
        border: 1px solid #a5a5a5;
    }
}

/* Submission form progress buttons */
.btn-success {
    background-color: #f5b23e;
    border: 1px solid #8b9eb2;
}
.btn-success[disabled], .btn-success.disabled {
    background-color: #242021;
    border: 1px solid #8b9eb2;
}
.btn-success:hover {
    background-color: #3a658e;
}

/* Header Person dropdown */
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #242021;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > li > a:hover, header .navbar-default .navbar-toggle > li > a:focus, header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
    background-color: #242021;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > .active > a, header .navbar-default .navbar-toggle > .active > a:hover, header .navbar-default .navbar-toggle > .active > a:focus, header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #242021;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #242021;
    color: #eaf1f7;
}

/* Registration Buttons */
.label-success {
    background-color: #f5b23e;
    color: #eaf1f7;
}

/* Search Icon */
.btn-primary {
    color: #fff;
    background-color: #a5a5a5;
    border-color: #a5a5a5;
}


/* bootstrap-classic-mirage-colors */
a {
    color: #007a95;
}
.text-primary {
    color: #a5a5a5
}
.bg-primary {
    background-color: #a5a5a5
}
.btn-primary {
    background-color: #a5a5a5;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #a5a5a5;
}
.btn-primary .badge {
    color: #a5a5a5;
}
.btn-link {
    color: #a5a5a5;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #a5a5a5
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #a5a5a5
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #a5a5a5
}

.navbar-inverse {
    background-color: #242021;
}
.pagination > li > a, .pagination > li > span {
    color: #a5a5a5;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #a5a5a5;
    border-color: #a5a5a5;
}
.label-primary {
    background-color: #a5a5a5
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #007a95;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #007a95
}
.progress-bar {
    background-color: #a5a5a5;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #a5a5a5;
    border-color: #a5a5a5
}
.panel-primary {
    border-color: #a5a5a5
}
.panel-primary > .panel-heading {
    background-color: #a5a5a5;
    border-color: #a5a5a5
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #a5a5a5
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #a5a5a5
}


/*TODO: Merge all of this KSU custom code up higher/organized in this file (below is copy/paste)*/
/* peterdietz Removed word-break code since KSU didn't like the look */
.word-break {
    -ms-word-break: normal;
    word-break: normal;
    /* Non standard for webkit */
    word-break: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


footer {
 /*background-color: #f5b23e;*/
 /*color: #3a658e;*/
    padding: 20px 20px;
}


footer a {
//color: #ccc;
}



.menu-navbar {
    padding-left: 20px;
}

.custom-nav {

}


header .navbar {
    background-color: #000;
}
header .navbar .container {
    background: #000;
    height: 80px;
    min-height: 80px;
}
div.trail-wrapper {
    background-color: #f5b23e;
    border-bottom: 1px solid #f5b23e;
}
.btn-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #a5a5a5;
    border-color: #a5a5a5;
    color: #FFFFFF;
}
#main-container #sidebar {
    background-color: #FFF8EC;
}

#file_news_div_news .thumbs>img {
    width:230px;
    padding: 0px 5px 10px 5px;
}

.custom-nav {
    background-color: #f5b23e;
    border-bottom: 1px solid #f5b23e;
    border: 0;
    border-radius: 0;
}

.custom-nav .navbar-nav>li>a {
    color: #000;
}

.soar-submit {
    color:#fff;
    background-color:#a5a5a5;
    border-color:#a5a5a5;
}

footer {
    color:white;
    background-color:black;
}

.footer-logo {
    height:55px;
}

/*Rollovers */
.main_categories{
    border-color: #ccc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-style:solid;
    border-width:1px;
    margin: 10px auto 20px auto;
    padding-bottom: 10px;
    position:relative;
    width: 675px;
}


.main_categories > a {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border:0;
    text-decoration:none;

}

div.main-content a, div.trail-wrapper a {
    color: #007a95;
}

#sidebar .ds-option a {
    color:#555;
}

footer a {
    color: #f5b23e;
}

a.rollover_blair {
    display: block;
    width: 675px;
    height: 100px;
    text-decoration: none;
    text-indent: -99999px;
    background: url('http://discoverarchive.vanderbilt.edu/xmlui/themes/VU/images/bwblair.jpg');
}

a.rollover_blair:hover {
    background-position: 0 -100px;
}


a.rollover_artsscience {
    display: block;
    width: 675px;
    height: 100px;
    text-decoration: none;
    text-indent: -99999px;
    background: url('http://discoverarchive.vanderbilt.edu/xmlui/themes/VU/images/bwarts_science.jpg');
}

a.rollover_artsscience:hover {
    background-position: 0 -100px;
}