<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<!--
  - The is the servlet deployment descriptor for Tomcat 4.0 for the DSpace
  - Web user interface
  -
  - 'dspace.dir' will be replaced with the directory where DSpace is installed
  -->
  
  <display-name>DSpace Web UI</display-name>

  <!-- ConfigurationService initialization for dspace.dir -->
  <context-param>
    <description>
      The location of the DSpace home directory.
    </description>
    <param-name>dspace.dir</param-name>
    <param-value>${dspace.dir}</param-value>
  </context-param>
  
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>Messages</param-value>
  </context-param>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/*.xml</param-value>
  </context-param>
  

  <!-- Filters -->
  
  <!-- session/request filter (from util), handles setting up requests and sessions correctly -->
  <filter>
    <filter-name>dspace.request</filter-name>
    <filter-class>org.dspace.utils.servlet.DSpaceWebappServletFilter</filter-class>
  </filter>
    
  <filter>
    <filter-name>admin-only</filter-name>
    <filter-class>org.dspace.app.webui.filter.AdminOnlyFilter</filter-class>
  </filter>

  <filter>
    <filter-name>registered-only</filter-name>
    <filter-class>org.dspace.app.webui.filter.RegisteredOnlyFilter</filter-class>
  </filter>
  
  <filter>
      <filter-name>rdf-content-negotiation</filter-name>
      <filter-class>org.dspace.rdf.negotiation.NegotiationFilter</filter-class>
  </filter>

  <!-- Filter mappings -->
  <filter-mapping>
        <filter-name>dspace.request</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
    
  <filter-mapping>
    <filter-name>admin-only</filter-name>
    <url-pattern>/dspace-admin/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/mydspace</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/tools/*</url-pattern>
  </filter-mapping>
    
  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/submit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/subscribe</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/workspace</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/view-workspaceitem</url-pattern>
  </filter-mapping>

  <filter-mapping>
      <filter-name>rdf-content-negotiation</filter-name>
      <url-pattern>/handle/*</url-pattern>
  </filter-mapping>


    <!-- Listener to initialise / clean up the application -->
    <listener>
       <listener-class>
          org.dspace.app.util.DSpaceContextListener
       </listener-class>
    </listener>

  <!-- kernel start listener (from impl), starts up the kernel for standalong webapps -->
  <listener>
     <listener-class>org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener</listener-class>
  </listener>

    <listener>
   		<listener-class>org.dspace.app.util.DSpaceWebappListener</listener-class>
   	</listener>

  <!-- Listener to clean up Commons-FileUpload -->
  <listener>
     <listener-class>
        org.apache.commons.fileupload.servlet.FileCleanerCleanup
     </listener-class>
  </listener>
  

  <!-- Load Spring applicationContext -->
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Servlets -->

  <servlet>
    <servlet-name>authorize</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.AuthorizeAdminServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>advanced-search</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.AdvancedSearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>itemmap</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.ItemMapServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>bitstream</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.BitstreamServlet</servlet-class>
  </servlet>

 <servlet>
    <servlet-name>exportdownload</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.ItemExportArchiveServlet</servlet-class>
  </servlet>

        <servlet>
                <servlet-name>browse</servlet-name>
                <servlet-class>org.dspace.app.webui.servlet.BrowserServlet</servlet-class>
        </servlet>

        <servlet>
                <servlet-name>browsewithdrawn</servlet-name>
                <servlet-class>org.dspace.app.webui.servlet.admin.WithdrawnBrowserServlet</servlet-class>
        </servlet>

  <servlet>
    <servlet-name>collection-wizard</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.CollectionWizardServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>community-list</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.CommunityListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-communities</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EditCommunitiesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>groups</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.GroupEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-epeople</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EPersonAdminServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-item</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EditItemServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>edit-news</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.NewsEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-license</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.LicenseEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>eperson-list</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EPersonListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>group-select-list</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.GroupListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>curate</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.CurateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>feed</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.FeedServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>feedback</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.FeedbackServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>forgot</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RegisterServlet</servlet-class>
    <init-param>
      <param-name>register</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>format-registry</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.BitstreamFormatRegistry</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>handle</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.HandleServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>html</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.HTMLServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>htmlmap</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SitemapServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>html</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>internal-error</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.InternalErrorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>metadataexport</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.MetadataExportServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>metadataimport</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.MetadataImportServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>batchimport</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.BatchImportServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>metadata-field-registry</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.MetadataFieldRegistryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>metadata-schema-registry</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.MetadataSchemaRegistryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>mydspace</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.MyDSpaceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>openURL</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.OpenURLServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>open-search</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.OpenSearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>password-login</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.PasswordServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ldap-login</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.LDAPServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>certificate-login</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.X509CertificateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.EditProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RegisterServlet</servlet-class>
    <init-param>
      <param-name>register</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>retrieve</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RetrieveServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>simple-search</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SimpleSearchServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>sitemap</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SitemapServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>sitemaps.org</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>displaystats</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.DisplayStatisticsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>statistics</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.StatisticsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>submit</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SubmissionController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>subscribe</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SubscribeServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>suggest</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SuggestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>supervise</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.SuperviseServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>view-workspaceitem</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.ViewWorkspaceItemServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>workflow</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.WorkflowAbortServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>workspace</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.WorkspaceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>controlledvocabulary</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.ControlledVocabularyServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>subject-search</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.ControlledVocabularySearchServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>AuthorityChooseServlet</servlet-name>
      <servlet-class>org.dspace.app.webui.servlet.AuthorityChooseServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>sherpapolicy</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SHERPAPublisherPolicyServlet</servlet-class>
  </servlet>  

  <servlet>
      <servlet-name>SearchResultLogServlet</servlet-name>
      <servlet-class>org.dspace.app.webui.servlet.SearchResultLogServlet</servlet-class>
  </servlet>

  <!-- shibbolized dspace -->
  <servlet>
    <servlet-name>shibboleth-login</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.ShibbolethServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>json</servlet-name>
  	<servlet-class>org.dspace.app.webui.servlet.JSONServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>privateitems</servlet-name>
  	<servlet-class>org.dspace.app.webui.servlet.admin.PrivateItemsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>version-item</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.VersionItemServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>version-history</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.VersionHistoryServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>request-item</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RequestItemServlet</servlet-class>
  </servlet>
    	
  <servlet-mapping>
    <servlet-name>shibboleth-login</servlet-name>
    <url-pattern>/shibboleth-login</url-pattern>
  </servlet-mapping>
 
  <!-- Servlet Mappings -->

  <servlet-mapping>
    <servlet-name>authorize</servlet-name>
    <url-pattern>/tools/authorize</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>advanced-search</servlet-name>
    <url-pattern>/advanced-search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>bitstream</servlet-name>
    <url-pattern>/bitstream/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>exportdownload</servlet-name>
    <url-pattern>/exportdownload/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browse</servlet-name>
    <url-pattern>/browse</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browsewithdrawn</servlet-name>
    <url-pattern>/dspace-admin/withdrawn</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>browsewithdrawn</servlet-name>
    <url-pattern>/tools/withdrawn</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>community-list</servlet-name>
    <url-pattern>/community-list</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>collection-wizard</servlet-name>
    <url-pattern>/tools/collection-wizard</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-communities</servlet-name>
    <url-pattern>/tools/edit-communities</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-communities</servlet-name>
    <url-pattern>/dspace-admin/edit-communities</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-epeople</servlet-name>
    <url-pattern>/dspace-admin/edit-epeople</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-item</servlet-name>
    <url-pattern>/tools/edit-item</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>edit-news</servlet-name>
    <url-pattern>/dspace-admin/news-edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-license</servlet-name>
    <url-pattern>/dspace-admin/license-edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>eperson-list</servlet-name>
    <url-pattern>/tools/eperson-list</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>group-select-list</servlet-name>
    <url-pattern>/tools/group-select-list</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>curate</servlet-name>
    <url-pattern>/dspace-admin/curate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>curate</servlet-name>
    <url-pattern>/tools/curate</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>itemmap</servlet-name>
    <url-pattern>/tools/itemmap</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>feed</servlet-name>
    <url-pattern>/feed/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>format-registry</servlet-name>
    <url-pattern>/dspace-admin/format-registry</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>groups</servlet-name>
    <url-pattern>/tools/group-edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>handle</servlet-name>
    <url-pattern>/handle/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>html</servlet-name>
    <url-pattern>/html/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>htmlmap</servlet-name>
    <url-pattern>/htmlmap</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>internal-error</servlet-name>
    <url-pattern>/internal-error</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>metadataexport</servlet-name>
    <url-pattern>/dspace-admin/metadataexport</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>metadataimport</servlet-name>
    <url-pattern>/dspace-admin/metadataimport</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>batchimport</servlet-name>
    <url-pattern>/dspace-admin/batchimport</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>metadata-field-registry</servlet-name>
    <url-pattern>/dspace-admin/metadata-field-registry</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>metadata-schema-registry</servlet-name>
    <url-pattern>/dspace-admin/metadata-schema-registry</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mydspace</servlet-name>
    <url-pattern>/mydspace</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>openURL</servlet-name>
    <url-pattern>/openURL</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>open-search</servlet-name>
    <url-pattern>/open-search/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>password-login</servlet-name>
    <url-pattern>/password-login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ldap-login</servlet-name>
    <url-pattern>/ldap-login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>certificate-login</servlet-name>
    <url-pattern>/certificate-login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>retrieve</servlet-name>
    <url-pattern>/retrieve/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>simple-search</servlet-name>
    <url-pattern>/simple-search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>sitemap</servlet-name>
    <url-pattern>/sitemap</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>displaystats</servlet-name>
    <url-pattern>/displaystats</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>statistics</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>submit</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>subscribe</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>suggest</servlet-name>
    <url-pattern>/suggest</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>supervise</servlet-name>
    <url-pattern>/dspace-admin/supervise</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>view-workspaceitem</servlet-name>
    <url-pattern>/view-workspaceitem</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>workflow</servlet-name>
    <url-pattern>/dspace-admin/workflow</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>workspace</servlet-name>
    <url-pattern>/workspace</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>controlledvocabulary</servlet-name>
    <url-pattern>/controlledvocabulary</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>subject-search</servlet-name>
    <url-pattern>/subject-search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>AuthorityChooseServlet</servlet-name>
      <url-pattern>/choices/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sherpapolicy</servlet-name>
    <url-pattern>/tools/sherpaPolicy</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
  	<servlet-name>json</servlet-name>
  	<url-pattern>/json/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>SearchResultLogServlet</servlet-name>
      <url-pattern>/dso-display</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>privateitems</servlet-name>
    <url-pattern>/dspace-admin/privateitems</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>privateitems</servlet-name>
    <url-pattern>/tools/privateitems</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>version-item</servlet-name>
    <url-pattern>/tools/version</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>version-history</servlet-name>
    <url-pattern>/tools/history</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>request-item</servlet-name>
    <url-pattern>/request-item</url-pattern>
  </servlet-mapping>
  
  <!-- Icon MIME type -->
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>


  <!-- Error pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/internal-error</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/internal-error</location>
  </error-page>

  <jsp-config>
  <!-- JSTL Format tag, for i18n -->
  <taglib>
    <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
    <taglib-location>/WEB-INF/fmt.tld</taglib-location>
  </taglib>
  
  <!-- DSpace JSP Tag Library -->
  <taglib>
    <taglib-uri>http://www.dspace.org/dspace-tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/dspace-tags.tld</taglib-location>
  </taglib>
  
  </jsp-config>
  

</web-app>
