{#

 The contents of this file are subject to the license and copyright
 detailed in the LICENSE and NOTICE files at the root of the source
 tree and available online at

 http://www.dspace.org/license/

#}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>DSpace OAI-PMH Data Provider</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="{{ path 'static/js/jquery.js' }}" type="text/javascript"></script>
        <script src="{{ path 'static/js/bootstrap.min.js' }}" type="text/javascript"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="{{ path 'static/css/bootstrap.min.css' }}" type="text/css" />
        <link rel="stylesheet" href="{{ path 'static/css/bootstrap-theme.min.css' }}" type="text/css" />
        <link rel="stylesheet" href="{{ path 'static/css/style.css' }}" type="text/css" />

    </head>
    <body>
        <div class="container">

            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">DSpace OAI-PMH Data Provider</a>
                </div>
                <div class="navbar-collapse collapse">

                </div><!--/.nav-collapse -->
            </div>

            <div class="alert alert-danger text-center">
                Invalid context
            </div>

            <!-- Main component for a primary marketing message or call to action -->
            <div class="row-fluid">
                <h2>Available Contexts</h2>
                <div class="list-group xoai-contexts">
                    {% for item in contexts %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ item.name }} {% if (item.description) %}<small>{{ item.description }}</small>{% endif %}</h4>
                        <p class="vertical-space"></p>
                        <p class="list-group-item-text">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default" href="{{ concat('/', item.baseUrl) | path }}?verb=Identify">Identify</a>
                                <a class="btn btn-default" href="{{ concat('/', item.baseUrl) | path }}?verb=ListSets">List Sets</a>
                                <a class="btn btn-default" href="{{ concat('/', item.baseUrl) | path }}?verb=ListMetadataFormats">List Metadata Formats</a>
                                <a class="btn btn-default" href="{{ concat('/', item.baseUrl) | path }}?verb=ListIdentifiers&metadataPrefix=oai_dc">List Identifiers</a>
                                <a class="btn btn-default" href="{{ concat('/', item.baseUrl) | path }}?verb=ListRecords&metadataPrefix=oai_dc">List Records</a>
                            </div>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row-fluid text-center">
                <div class="vertical-space"></div>
                <p><small>Design by Lyncode</small></p>
                <p>
                    <a href="http://www.lyncode.com">
                        <img style="height: 20px;" src="{{ path '/static/img/lyncode.png' }}" alt="Lyncode" />
                    </a>
                </p>
            </div>

        </div> <!-- /container -->
    </body>
</html>