/**
 Colors: Find and Replace for a quick scheme.
      mirage2      this-site
 1st: #27318B      #27318B          Top header
 2nd: #838687      #838687          Breadcrumb
 3rd: #65C294      #65C294          side-nav/h1..h7
*/


/* Override dspace-bootstrap-tweaks */
header .navbar-brand img {
    height: 94px;
    margin-top: -6px;
}

.navbar {
    min-height: 103px;
}

/* Override classic-mirage-style */
header .navbar-default {
    background-color: #27318B;
}

.trail-wrapper {
    background-color: #838687;
}
.trail-wrapper .breadcrumb > li + li:before {
    color: #eaf1f7;
}
.trail-wrapper .breadcrumb > .active {
    color: #eee;
}
.trail-wrapper .sidebar-toggle .icon-bar {
    background-color: #65C294;
}
.trail-wrapper .sidebar-toggle:hover, .trail-wrapper .sidebar-toggle:focus {
    background-color: #65C294;
}

@media (max-width: 767px) {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #65C294;
        border: 1px solid #65C294;
    }
}

/* Submission form progress buttons */
.btn-success {
    background-color: #838687;
    border: 1px solid #8b9eb2;
}
.btn-success[disabled], .btn-success.disabled {
    background-color: #27318B;
    border: 1px solid #8b9eb2;
}
.btn-success:hover {
    background-color: #3a658e;
}

/* Header Person dropdown */
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #838687;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > li > a:hover, header .navbar-default .navbar-toggle > li > a:focus, header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
    background-color: #838687;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > .active > a, header .navbar-default .navbar-toggle > .active > a:hover, header .navbar-default .navbar-toggle > .active > a:focus, header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #838687;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #838687;
    color: #eaf1f7;
}

/* Registration Buttons */
.label-success {
    background-color: #838687;
    color: #eaf1f7;
}

/* Search Icon */
.btn-primary {
    color: #fff;
    background-color: #65C294;
    border-color: #65C294;
}


/* bootstrap-classic-mirage-colors */
a {
    color: #65C294;
}
.text-primary {
    color: #65C294
}
.bg-primary {
    background-color: #65C294
}
.btn-primary {
    background-color: #65C294;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #65C294;
}
.btn-primary .badge {
    color: #65C294;
}
.btn-link {
    color: #65C294;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #65C294
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #65C294
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #65C294
}

.navbar-inverse {
    background-color: #27318B;
}
.pagination > li > a, .pagination > li > span {
    color: #65C294;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #65C294;
    border-color: #65C294;
}
.label-primary {
    background-color: #65C294
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #65C294;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #65C294
}
.progress-bar {
    background-color: #65C294;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #65C294;
    border-color: #65C294
}
.panel-primary {
    border-color: #65C294
}
.panel-primary > .panel-heading {
    background-color: #65C294;
    border-color: #65C294
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #65C294
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #65C294
}

footer {
    background-color: #27318B;
}