/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

.word-break {
    -ms-word-break: normal;
    word-break  : normal;
}

/*************************** header  *******************************/
.navbar{
    min-height: 10em;
}

header .navbar-default {
    background-color: white;
}


header .navbar-brand img {
    height: 6em;
}

#header-datashare{
    margin-left: -3em;
}

#header-eduni .navbar-brand{
    padding-top: 1em;
}

#header-eduni .navbar-brand img {
    padding: 0;
    height: 2.5em;
}

#header-eduni {
    float: right;
}

#is-banner{
    padding-top: 0.5em;
    background-color: #d40032;
    color: white;
    height: 3em;
    font-family: "Crimson Text",serif;
    font-size: 18px;
}

#is-banner a{
    color: white;
}

#is-banner a:visited{
    color: white;
}

#is-banner-text{
    padding-top: 0.2em;
    float: left;
}

#is-banner-contact-us{
    padding-top: -0.2em;
    float: right;
}

#is-banner-contact-us img{
    height: 2em;
}

.trail-wrapper {
    background-color: #cccccc;
    height: 1.8em;
    border-bottom: 1px solid #cccccc;
    height: auto;
}

.trail-wrapper .breadcrumb {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


/*************************** home page  *******************************/
#upload-data{
    padding-bottom: 1em;
}


.btn-primary {
    background-color: #d40032;
    border-color: #d40032;
}

#home-welcome-deposit ul,
#about-datashare ul{
    list-style-type: none;
}


/*************************** menu *******************************/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #d40032;
    border-color: #d40032;
}


/*************************** menu *******************************/
#aspect_viewArtifacts_Navigation_list_browse a:nth-child(3),
#aspect_viewArtifacts_Navigation_list_browse a:nth-child(4),
#aspect_browseArtifacts_CommunityBrowse_div_community-browse,
#aspect_browseArtifacts_CollectionBrowse_div_collection-browse{
    display: none;
}


/*************************** footer *******************************/
#footer-1{
    font-family: "Crimson Text",serif;
    font-size: 1.3em;
    height: 2.6em;
    background-color: #252525;
    color: #777777;
}

#footer-1 .container{
    padding-top: 0.6em;
}

#footer-1 a:visited{
    color: #777777;
}

#footer-uoe{
    float: left;
}
#footer-dsa{
    float: right;
    padding-right: 5em;
    margin-top: -2.8em;
}

#footer-2{
    height: 6em;
    background-color: #4a4a4a;
    color: white;
}

#footer-2 a{
    color: white;
}

#footer-2 .container{
    padding-top: 0.6em;
}

#footer-2 ul{
    list-style-type: none;
    padding: 0 5em 0 0;
}

#footer-2-col-1{
    float: left;
}

#footer-2 a:visited{
    color: white;
}


/*************************** ingest *******************************/

#aspect_submission_StepTransformer_div_submit-describe .metadata-group{
    cursor: pointer;
}

.metadata-group .ds-text-field{
    display: none;
}

.metadata-group label{
    cursor: pointer;
    padding-left: 20px;
    width: 500px;
}

.metadata-group-expand {
    background-image: url(../images/list-add.png);
    background-repeat: no-repeat;
    background-size: 10em;
    background-size: 2em;
}

.metadata-group-collapse {
    background-image: url(../images/list-remove.png);
    background-repeat: no-repeat;
    background-size: 2em;
}


/* Time Period */
#aspect_submission_StepTransformer_field_to-label,
#aspect_submission_StepTransformer_field_from-label{
    display: none;
}

/* from / to */
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(1),
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(5) {
  width: 4em;
}

/* year */
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(2),
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(6){
    width: 8em;
}

/* month */
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(3),
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(7){
    width: 12em;
}

/* day */
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(4),
#aspect_submission_StepTransformer_item_time-period .row:nth-child(2) div:nth-child(8){
    width: 6em;
}

/* remove subject classification lookup */
input[name='lookup_dc_subject_classification']{
    display: none;
}


/*************************** item view *******************************/
.item-summary-view-metadata h5{
    font-weight: bold;
}

#item-page-download-all{
    padding-bottom: 0.6em;
}


/*************************** misc *******************************/
.glyphicon-lock {
    color: #FF9900;
}

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}
