/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

// tweak the carousel controls
.carousel-control {
        opacity:100;
        top:95%
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

// utility class for centering divs
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

// add back underlined links, because we like them
a {
    text-decoration: underline;
}

// except list-group-item
a.list-group-item {
    text-decoration: none;
}

// adjust the margins for artifact titles
.artifact-title {
    margin-top: 15px;
    margin-bottom: 0;
}

// center the option headings
.ds-option-set-head {
    text-align: center;
}

// make the navbar border thicker
.navbar-default {
    border-width: 0 0 4px 0;
}

// override the styling for the breadcrumb trail
.trail-wrapper {
    background-color: $white;

    .breadcrumb{
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        font-family: $font-family-monospace;

        > li {
            + li:before {
                color: $gray-dark;
                content: " > ";
            }
            > a {
                color: $gray-dark;
            }
        }
        > .active {
            color: $gray-dark;
        }
    }
}


/*
 * Footer
 */

.vsim-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  color: $white;
  text-align: center;
  background-color: $brand-primary;
}
.vsim-footer a {
  color: $white;
  text-decoration: none;
}
.vsim-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.vsim-footer-links li {
  display: inline-block;
}
.vsim-footer-links li + li {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .vsim-footer {
    text-align: left;
  }
  .vsim-footer p {
    margin-bottom: 0;
  }
  .vsim-footer img {
    padding: 20px;
  }
}

