/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */
 
body {
    min-width: 250px;
}

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #500000;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}

header .navbar-brand img {
  height: 30px;
}

.navbar-brand {
  padding-top: 10px;
}

.trail-wrapper {
  border-bottom: 1px solid #C5C5C5;
    background-color: #D9D9D9;
}

/* License */
#aspect_submission_StepTransformer_list_submit-review ol li.ds-form-item div.ds-form-content fieldset
{
  border: none;
}
#aspect_submission_StepTransformer_list_submit-review ol li.ds-form-item div.ds-form-content fieldset legend
{
    display: none
}


/***************************************************************
                Authentication Method Chooser
***************************************************************/

div#shibboleth-authentication-method,
div#password-authentication-method {
    float: left;
    width: 300px;
    padding-left: 25px;
}

div.authentication-method h3 {
    font-size: 15px;
}

div#password-authentication-method {
    border-left: 1px solid #CCCCCC;
    padding-left: 25px;
}

.authentication-item {
    clear: both;
    margin-left: 15px;
}

#visitEsl {
    font-weight: bold;
    text-align: center;
}

/****** Darwin Core **********/

.simple-item-view-dwc h5 {
    margin-top:25px;
}

/*****************************************************************************
                    Metadata Tree Browser Aspect styling
******************************************************************************/

#edu_tamu_metadatatreebrowser_BrowseNode_div_parent-div a {
    color: #666666 !important;
    text-decoration: none;
}


ul#edu_tamu_metadatatreebrowser_BrowseNode_list_child-list {
    list-style: none;
}

ul#edu_tamu_metadatatreebrowser_BrowseNode_list_child-list li {
    background-color: #efefef;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 170px;
    text-align: center;
    padding: 10px;
    margin: 8px;
    font-size: .9em;
}

ul#edu_tamu_metadatatreebrowser_BrowseNode_list_child-list li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul#edu_tamu_metadatatreebrowser_BrowseNode_list_child-list li a.node-thumbnail {
    background-color: #EDE8E8;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 10px;
}


ul#edu_tamu_metadatatreebrowser_BrowseNode_list_child-list li a img {
    width: 100px;
    height: auto;
    vertical-align: bottom;
}

#edu_tamu_metadatatreebrowser_BrowseOverview_div_metadata-tree-browser-overview .toggle {
    color: #1A2830;
    text-decoration: none;
}

#edu_tamu_metadatatreebrowser_BrowseOverview_div_metadata-tree-browser-overview .toggle:hover {
    color: #1A2830;
    text-decoration: none;
}

ul#edu_tamu_metadatatreebrowser_BrowseOverview_list_overview-list {
    padding-top: 20px;
    list-style: none;
}

ul#edu_tamu_metadatatreebrowser_BrowseOverview_list_overview-list ul {
    list-style: none;
}

ul#edu_tamu_metadatatreebrowser_BrowseOverview_list_overview-list li {
    margin-top: 3px;
}

ul#edu_tamu_metadatatreebrowser_BrowseOverview_list_overview-list li.ds-simple-list-item a:last-child {
    margin-left: 12px;
}

ul#edu_tamu_metadatatreebrowser_BrowseOverview_list_overview-list > li.ds-simple-list-item a:last-child {
    font-size: 1.1em;
}

ul#edu_tamu_metadatatreebrowser_BrowseOverview_list_overview-list li ul.sub-list {
    margin-left: 16px;
}

/*********** addthis widget **********/

.addthis_sharing_toolbox {
    text-align: center;
}

/*********** Item Submission ************/

#aspect_submission_StepTransformer_list_submit-initial-questions label, #aspect_submission_StepTransformer_list_submit-initial-questions p.help-block,#aspect_submission_StepTransformer_list_submit-initial-questions fieldset {
    display: inline;
}

#aspect_submission_StepTransformer_list_submit-initial-questions label.control-label {
    display: block;
}

/* TAMU Customization */
/*********** header **********/

.tamu-header-nav-bar {
    background-color: #3c0000 !important;
}

.tamu-header-title-bar {
    background-color: #500000 !important;
    border-top: 1px solid #8d8d8d !important;
    border-radius: 0;
    height: 80px;
}

.tamu-header-title {
    margin-left: 2px !important;
    margin-top: 13px;
    font: -webkit-control;
    font-size: 38px;
    font-style: normal;
    font-variant: normal;
    color: white;
}

.tamu-header-title a {
    color: white;
    text-decoration: none;
}

.tamu-header-title a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.tamu-header-brand {
    margin-top: 0px;
}

.tamu-header-brand-text {
    margin-left: 10px;
    font: -webkit-control;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    color: white;
}

@media only screen and (max-width: 520px) {
    .tamu-header-display {
        display: none;
    }
    .tamu-header-display-meadia {
        display: inline;
    }
}

@media only screen and (min-width: 520px) {
    .tamu-header-display {
        display: inline;
    }
    .tamu-header-display-meadia {
        display: none;
    }
}
