## File for changes to dspace.cfg - separated from original configuration file to see what we changed
# one day similar to this
# https://github.com/ufal/clarin-dspace/blob/clarin/utilities/project_helpers/config/local.conf.dist

#------------------------------------------------------------------#
#---------------------------UPLOAD FILE----------------------------#
#------------------------------------------------------------------#

# Maximum size of a single uploaded file
# The file bigger than maximum upload size could be uploaded by adding file URL to the
# `local.bitstream.redirecToURL` metadata in the submission UI process.
spring.servlet.multipart.max-file-size = 4GB

# Maximum size of a multipart request (i.e. max total size of all files in one request)
spring.servlet.multipart.max-request-size = 4GB

# Admin could upload the file bigger than maximum upload size.
# Should be this big file deleted from the '/temp' folder?
delete.big.file.after.upload = true
