#
# DSpace Configuration
#
# Revision: $Revision$
#
# Date:     $Date$
#

##### Basic information ######

# DSpace installation directory
dspace.dir = /dspace

# DSpace base URL
dspace.url = https://localhost

# DSpace host name - should match base URL
dspace.hostname = localhost

# Name of the site
dspace.name = DSpace @ MIT


##### Destinations for configuration files for other tools #####

# Comment out any lines corresponding to files you don't need, so they
# don't get copied

config.template.apache13.conf = /dspace/config/httpd.conf
config.template.log4j.properties = /dspace/config/log4j.properties
config.template.web.xml = /dspace/jsp/WEB-INF/web.xml


##### Database settings #####

# Locale used by the database
db.locale = en_us

# URL for connecting to database
db.url = jdbc:simplepool://localhost

# Database username and password
db.username = dspace
db.password = dspacerulez

# SimplePool settings
simplepool.url=jdbc:postgresql://localhost:5432/dspace
simplepool.driver=org.postgresql.Driver
simplepool.max.connections = 20


##### Email settings ######

# SMTP mail server
mail.server=outgoing.mit.edu

# From address for mail
mail.from.address = dspace-noreply@mit.edu

# Currently limited to one recipient!
feedback.recipient = dspace-help@mit.edu

# Recipient for server errors and alerts
alert.recipient = rtansley@mit.edu


##### File Storage ######

# This is the Asset Store root directory
assetstore.dir = /dspace/assetstore

# Directory for history serializations
history.dir = /dspace/history

# Where to put search index files
search.dir = /dspace/search

# Where to put the logs
log.dir = /dspace/log


##### Handle settings ######

# CNRI Handle prefix
handle.prefix = 1721.1


##### Web UI Settings ######

# The site authenticator - must implement org.dspace.app.webui.SiteAuthenticator
webui.site.authenticator = edu.mit.dspace.MITAuthenticator

# Certificate authority
webui.cert.ca = /dspace/etc/certificate-ca.pem


##### SFX Server #####

# SFX query is appended to this URL.  If this property is commented out or
# omitted, SFX support is switched off.
sfx.server.url = http://owens.mit.edu:8888/sfx_local?


##### Ingest settings #####

# Default language for content of submissions
default.language = en_US
