#
# DSpace Configuration
#
# Revision: $Revision$
#
# Date:     $Date$
#

##### Basic information ######

# DSpace installation directory
dspace.dir = /dspace

# DSpace base URL
dspace.url = http://localhost:8080/


##### Database settings #####

# Locale used by the database
db.locale = en_us

# URL for connecting to database
db.url = jdbc:simplepool://localhost

# Database username and password
db.username = dspace
db.password = dspacerulez

# SimplePool settings
simplepool.url=jdbc:postgresql://localhost:5432/dspace
simplepool.driver=org.postgresql.Driver
simplepool.max.connections = 20


##### Email settings ######

# SMTP mail server
mail.server=outgoing.mit.edu

# From address for mail
mail.from.address = dspace-noreply@mit.edu

# Currently limited to one recipient!
feedback.recipient = dspace-help@mit.edu


##### File Storage ######

# This is the Asset Store root directory
assetstore.dir = /dspace/assetstore

# Directory for history serializations
history.dir = /dspace/history

# Where to put search index files
search.dir = /dspace/search


##### Other settings ######

# CNRI Handle prefix
handle.prefix = 1721


