# EXAMPLE "local.cfg" for DSpace.
#
# Any configurations added to this file will automatically OVERRIDE configurations
# of the same name in any of the DSpace *.cfg files. This includes overriding
# settings in any of these files:
#    * [dspace]/config/dspace.cfg
#    * Any configuration file that is included in 'dspace.cfg'
#     (See "include = [filepath]" settings near the end of dspace.cfg.
#      By default, it includes all [dspace]/config/modules/*.cfg files)
#    * Spring Boot's application.properties
#      ([dspace-src]/dspace-server-webapp/src/main/resources/application.properties)
#
# By default, this EXAMPLE file includes a number of commonly overridden configurations.
# * ADD configurations by simply copying them into this file from any existing *.cfg file.
# * REMOVE configurations by simply commenting them out or deleting them below.
#
# Any commented out settings in this file are simply ignored. A configuration
# will only override another configuration if it has the EXACT SAME key/name.
# For example, including "dspace.dir" in this local.cfg will override the
# default value of "dspace.dir" in the dspace.cfg file.
# Similarly, including "oai.solr.url" in this local.cfg will override the
# default value of "oai.solr.url" in the modules/oai.cfg file.
#


##########################
# SERVER CONFIGURATION   #
##########################

# DSpace installation directory.
# This is the location where you want to install DSpace.
# Windows note: Please remember to use forward slashes for all paths (e.g. C:/dspace)
dspace.dir=/dspace

# UMD Customization
dspace.hostname = localhost
dspace.baseUrl = http://localhost:8080
dspace.url = ${dspace.baseUrl}
# End UMD Customization

# Public URL of DSpace backend ('server' webapp). May require a port number if not using standard ports (80 or 443)
# DO NOT end it with '/'.
# This is where REST API and all enabled server modules (OAI-PMH, SWORD, SWORDv2, RDF, etc) will respond.
# NOTE: This URL must be accessible to all DSpace users (should not use 'localhost' in Production)
# and is usually "synced" with the "rest" section in the DSpace User Interface's config.*.yml.
# It corresponds to the URL that you would type into your browser to access the REST API.
# UMD Customization
dspace.server.url = ${dspace.baseUrl}/server
# End UMD Customization

# Public URL of DSpace frontend (Angular UI). May require a port number if not using standard ports (80 or 443)
# DO NOT end it with '/'.
# This is used by the backend to provide links in emails, RSS feeds, Sitemaps, etc.
# NOTE: this URL must be accessible to all DSpace users (should not use 'localhost' in Production).
# It corresponds to the URL that you would type into your browser to access the User Interface.
dspace.ui.url = http://localhost:4000

# Name of the site
# UMD Customization
dspace.name = Digital Repository at the University of Maryland (DRUM)
# End UMD Customization

# Assetstore configurations have moved to config/modules/assetstore.cfg
# and config/spring/api/bitstore.xml.
# Additional storage options (e.g. Amazon S3) are available in `assetstore.cfg`
# assetstore.dir = ${dspace.dir}/assetstore

# UMD Customization
# Overriding assetstore.dir and assetstore.index.primary properties here,
# to avoid having to modify config/modules/assetstore.cfg
assetstore.dir.1 = ${dspace.dir}/assetstore1
assetstore.dir.2 = ${dspace.dir}/assetstore2
assetstore.dir.3 = ${dspace.dir}/assetstore3
assetstore.dir.4 = ${dspace.dir}/assetstore4

assetstore.index.primary = 0
# End UMD Customization

# Default language for metadata values
#default.language = en_US

# Solr server/webapp.
# DSpace uses Solr for all search/browse capability (and for usage statistics).
# Since DSpace 7, SOLR must be installed as a stand-alone service
# UMD Customization
solr.server=http://dspacesolr:8983/solr
# End UMD Customization

# Solr core name prefix.
# If you connect multiple instances of DSpace to a single Solr instance, you
# can organize them with a common core name prefix.
#solr.multicorePrefix =

##########################
# DATABASE CONFIGURATION #
##########################
# DSpace ONLY supports PostgreSQL at this time.

# URL for connecting to database
# UMD Customization
db.url=jdbc:postgresql://dspacedb:5432/drum
# End UMD Customization

# JDBC Driver for PostgreSQL
db.driver = org.postgresql.Driver

# PostgreSQL Database Dialect (for Hibernate)
db.dialect = org.hibernate.dialect.PostgreSQL94Dialect

# Database username and password
# UMD Customization
db.username=drum
db.password=drum
# End UMD Customization

# Database Schema name
# For PostgreSQL, this is often "public" (default schema)
db.schema = public

## Connection pool parameters

# Maximum number of DB connections in pool (default = 30)
#db.maxconnections = 30

# Maximum time to wait before giving up if all connections in pool are busy (milliseconds)
# (default = 10000ms or 10 seconds)
#db.maxwait = 10000

# Maximum number of idle connections in pool (-1 = unlimited)
# (default = 10)
#db.maxidle = 10


#######################
# EMAIL CONFIGURATION #
#######################

# SMTP mail server (allows DSpace to send email notifications)
# UMD Customization
mail.server = localhost
# End UMD Customization

# SMTP mail server authentication username and password (if required)
#mail.server.username = myusername
#mail.server.password = mypassword

# SMTP mail server alternate port (defaults to 25)
# UMD Customization
mail.server.port = 25
# End UMD Customization

# From address for mail
# All mail from the DSpace site will use this 'from' address
# UMD Customization
mail.from.address = drum@drumlocal
# End UMD Customization

# When feedback is submitted via the Feedback form, it is sent to this address
# Currently limited to one recipient!
# UMD Customization
feedback.recipient = mohideen@umd.edu
# End UMD Customization

# General site administration (Webmaster) e-mail
# UMD Customization
mail.admin = mohideen@umd.edu
# End UMD Customization

# Helpdesk E-mail
#mail.helpdesk = ${mail.admin}
#mail.helpdesk.name = Help Desk

# Recipient for server errors and alerts (defaults to mail.admin)
# UMD Customization
alert.recipient = mohideen@umd.edu
# End UMD Customization

# Recipient for new user registration emails (defaults to unspecified)
# UMD Customization
registration.notify = mohideen@umd.edu
# End UMD Customization


########################
# HANDLE CONFIGURATION #
########################
#
# Canonical Handle URL prefix
#
# Items in DSpace receive a unique URL, stored in dc.identifier.uri
# after it is generated during the submission process.
#
# If you register with CNRI's handle service at https://www.handle.net/,
# these links can be generated as permalinks using https://hdl.handle.net/
# as canonical prefix. Please make sure to change handle.canonical.prefix
# after registering with handle.net by uncommenting one of the following
# lines, depending if you prefer to use https or http:
# handle.canonical.prefix = https://hdl.handle.net/
# UMD Customization
handle.canonical.prefix = http://hdl.handle.net/
# End UMD Customization

#
# Note that this will not alter dc.identifier.uri metadata for existing
# items (only for subsequent submissions).

# CNRI Handle prefix
# (Defaults to the reserved dummy/fake prefix of 123456789)
# UMD Customization
handle.prefix = 123456789
handle.dir = ${dspace.dir}/handle-server
# End UMD Customization

#######################
# PROXY CONFIGURATION #
#######################
# Uncomment and specify both properties if proxy server is required for external http requests
# (e.g. requests from DSpace to third party services like Creative Commons use this setting when enabled)
# Use regular hostname without port number
#http.proxy.host =

# port number of proxy server
#http.proxy.port =

##########################
# AUTHENTICATION METHODS #
##########################
# EXAMPLE OVERRIDE:
# Override the default authentication method(s) defined in authentication.cfg
# by defining your own custom ordered list in this local.cfg.
#
# By default, all of these methods are commented out and DSpace will use the
# settings from authentication.cfg. But you may uncomment whichever plugins you
# need in order to change the default settings (or reorder them below).
#
# You may also copy default settings from the corresponding authentication-*.cfg
# configuration file and override them in this local.cfg.

# UMD Customization
# IP-based authentication/authorization. See authentication-ip.cfg for default configuration.
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.IPAuthentication

# UMD-custom CAS authentication/authorization
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.CASAuthentication
# End UMD Customization

# LDAP authentication/authorization. See authentication-ldap.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.LDAPAuthentication

# OIDC authentication/authorization. See authenication-oidc.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.OidcAuthentication

# Shibboleth authentication/authorization. See authentication-shibboleth.cfg for default configuration.
# Check also the cors settings below
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.ShibAuthentication

# ORCID certificate authentication.
# plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.OrcidAuthentication

# X.509 certificate authentication. See authentication-x509.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.X509Authentication

# Authentication by Password (encrypted in DSpace's database). See authentication-password.cfg for default configuration.
# Enabled by default in authentication.cfg
# UMD Customization
plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.PasswordAuthentication
# End UMD Customization

# UMD Customization
################################
# AUTHENTICATION CONFIGURATION #
################################
authentication-ip.Campus = 128.8.0.0/255.255.0.0, 129.2.0.0/255.255.0.0, 131.118.232.0/255.255.248.0, 136.160.224.0/255.255.248.0, 206.196.160.0/255.255.192.0, 131.118.255.166

##### CAS AUTHENTICATION CONFIG ######
drum.cas.server.url=https://login.umd.edu/cas/login
drum.cas.validate.url=https://login.umd.edu/cas/serviceValidate
# Currently not used
#drum.cas.logout.url=https://login.umd.edu/cas/logout

drum.webui.cas.autoregister = true

# LDAP Credentials (needed for CAS)
# Note: Commas should be escaped, i.e. if the LDAP bind authDn is
#
# uid=foo,cn=bar,ou=baz,dc=quuz,dc=zot
#
# The property should be:
# drum.ldap.bind.auth = uid=foo\,cn=bar\,ou=baz\,dc=quuz\,dc=zot
#
drum.ldap.url = ldap://directory.umd.edu:636/dc=umd\,dc=edu
drum.ldap.bind.auth =
drum.ldap.bind.password =
drum.ldap.connect.timeout = 1000
drum.ldap.read.timeout = 5000
# Expiration time, in milliseconds, for the in-memory LDAP cache.
drum.ldap.cacheTimeout = 300000
# End UMD Customization

#####################
# REST API SETTINGS #
#####################
# Allowed Cross-Origin-Resource-Sharing (CORS) origins (in "Access-Control-Allow-Origin" header).
# Only these origins (client URLs) can successfully authenticate with your REST API.
# Defaults to ${dspace.ui.url} if unspecified (as the UI must have access to the REST API).
# Multiple allowed origin URLs may be comma separated. Wildcard value (*) is NOT SUPPORTED.
# (Requires reboot of servlet container, e.g. Tomcat, to reload)
# When an external authentication system is involved like Shibboleth some browsers (i.e. Safari) include
# in the request the Origin header with the url of the IdP. In such case you need to allow also the IdP to
# avoid trouble for such browsers (i.e.  rest.cors.allowed-origins = ${dspace.ui.url}, https://samltest.id )
#rest.cors.allowed-origins = ${dspace.ui.url}

#################################################
# SPRING BOOT SETTINGS (Used by Server Webapp)  #
#################################################
# NOTE: Common Spring Boot application settings may be found at
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
#
# EXAMPLE OVERRIDE:
# By uncommenting the below Spring Boot settings, you can increase or decrease the maximum upload size.
# These defaults are specified in [dspace-src]/dspace-server-webapp/src/main/resources/application.properties
# but may be overridden in this local.cfg
#
#  UMD Customization
# Maximum size of a single uploaded file
spring.servlet.multipart.max-file-size = 2048MB

# Maximum size of a multipart request (i.e. max total size of all files in one request)
spring.servlet.multipart.max-request-size = 15360MB
# End UMD Customization

# UMD Customization
#####################
# DOI CONFIGURATION #
#####################
identifier.doi.user =
identifier.doi.password =
identifier.doi.prefix = 10.33522
identifier.doi.datacite.host = mds.test.datacite.org
identifier.doi.mintRandom = true
identifier.doi.namespaceseparator =
crosswalk.dissemination.DataCite.publisher = Digital Repository at the University of Maryland
crosswalk.dissemination.DataCite.stylesheet = crosswalks/DIM2UmdDataCite.xsl

####################
# GOOGLE ANALYTICS #
####################
xmlui.google.analytics.key=

#####################
# LOGLEVEL SETTINGS #
#####################
loglevel.other = INFO
loglevel.dspace = INFO

############################
# UI-RELATED CONFIGURATION #
############################
webui.user.assumelogin = true

# Creative Commons settings
cc.api.rooturl = https://api.creativecommons.org/rest/1.5
# A list of license classes that should be excluded from selection process
# Excluding "publicdomain" because it is now a duplicate of the CC0 license
cc.license.classfilter = recombo, mark, publicdomain

# Browse configuration
webui.browse.index.1 = dateissued:item:dateissued
webui.browse.index.2 = author:metadata:dc.contributor.author:text
webui.browse.index.3 = title:item:title
webui.browse.index.4 = subject:metadata:dc.subject.*:text
#webui.browse.index.5 = dateaccessioned:item:dateaccessioned

# OpenSearch settings
websvc.opensearch.enable = true
websvc.opensearch.shortname = drum
websvc.opensearch.longname = Digital Repository at the University of Maryland (DRUM)
websvc.opensearch.description = ${dspace.name}
websvc.opensearch.tags = IR DRUM DSpace UMDLibraries

# Statistical Report Configuration Settings
webui.itemlist.columns = thumbnail, dc.date.issued(date), dc.title, dc.contributor.author

##############################
# REQUEST ITEM CONFIGURATION #
##############################
# LIBDRUM-481 - Disable request-copy feature
request.item.type =

####################
# USAGE STATISTICS #
####################
# Override settings in dspace/config/modules/usage-statistics.cfg

# Suppress "Statistics" menu entry in the navbar for non-admins
usage-statistics.authorization.admin.usage=true

#######################
# OTHER CONFIGURATION #
#######################

# ETD loader email settings
drum.mail.etdmarc.recipient = mohideen@umd.edu
drum.mail.etd.recipient = mohideen@umd.edu
drum.mail.duplicate_title = mohideen@umd.edu

# Used by daily subscription mailer
drum.eperson.subscription.limiteperson =

# Used by etd loader cron job
drum.etdloader.transfermarc = false
drum.etdloader.eperson = load_diss@drum.umd.edu
# UUID of "UMD Theses and Dissertations" collection
drum.etdloader.collection = ba3ddc3f-7a58-4fd3-bde5-304938050ea2

# Environment Banner configuration
# Leave blank on production environment
# Valid options: local, dev, stage
drum.environment.name = local
drum.environment.bannerText = Local Environment

# LIBDRUM-563
# Wufoo Feedback Form Embed
# Required
wufoo.feedback.formUrl = https://libumd.wufoo.com/forms/
wufoo.feedback.formHash = r12gwaic1xvrtzs
# Optional
wufoo.feedback.field.email = Field1
wufoo.feedback.field.page = Field7
wufoo.feedback.field.eperson = Field10
wufoo.feedback.field.agent = Field8
wufoo.feedback.field.date = Field13
wufoo.feedback.field.session = Field11
wufoo.feedback.field.host = Field15

# Data Community
data.community.handle = 1903/27669

# Equitable Access Policy
# The handle for the "Equitable Access Policy" community
equitable_access_policy.community.handle = 1903/29474
# End UMD Customization
