# EXAMPLE "local.cfg" for DSpace.
#
# Any configurations added to this file will automatically OVERRIDE configurations
# of the same name in any of the DSpace *.cfg files. This includes overriding
# settings in any of these files:
#    * [dspace]/config/dspace.cfg
#    * Any configuration file that is included in 'dspace.cfg'
#     (See "include = [filepath]" settings near the end of dspace.cfg.
#      By default, it includes all [dspace]/config/modules/*.cfg files)
#    * Spring Boot's application.properties
#      ([dspace-src]/dspace-server-webapp/src/main/resources/application.properties)
#
# By default, this EXAMPLE file includes a number of commonly overridden configurations.
# * ADD configurations by simply copying them into this file from any existing *.cfg file.
# * REMOVE configurations by simply commenting them out or deleting them below.
#
# Any commented out settings in this file are simply ignored. A configuration
# will only override another configuration if it has the EXACT SAME key/name.
# For example, including "dspace.dir" in this local.cfg will override the
# default value of "dspace.dir" in the dspace.cfg file.
# Similarly, including "oai.solr.url" in this local.cfg will override the
# default value of "oai.solr.url" in the modules/oai.cfg file.
#


##########################
# SERVER CONFIGURATION   #
##########################

# DSpace installation directory.
# This is the location where you want to install DSpace.
# Windows note: Please remember to use forward slashes for all paths (e.g. C:/dspace)
dspace.dir=/dspace

# URL of DSpace backend ('server' webapp). Include port number etc.
# DO NOT end it with '/'.
# This is where REST API and all enabled server modules (OAI-PMH, SWORD,
# SWORDv2, RDF, etc) will respond.
dspace.server.url = http://localhost:8080/server

# URL of DSpace frontend (Angular UI). Include port number etc.
# DO NOT end it with '/'.
# This is used by the backend to provide links in emails, RSS feeds, Sitemaps,
# etc.
dspace.ui.url = http://localhost:4000

# Name of the site
dspace.name = DSpace at My University

# assetstore.dir, look at DSPACE/config/spring/api/bitstore.xml for more options
# default is ${dspace.dir}/assetstore, uncomment and modify if you need to use a different path
#assetstore.dir = ${dspace.dir}/assetstore

# Default language for metadata values
#default.language = en_US

# Solr server/webapp.
# DSpace uses Solr for all search/browse capability (and for usage statistics).
# Since DSpace 7, SOLR must be installed as a stand-alone service
#solr.server = http://localhost:8983/solr

# Solr core name prefix.
# If you connect multiple instances of DSpace to a single Solr instance, you
# can organize them with a common core name prefix.
#solr.multicorePrefix =

##########################
# DATABASE CONFIGURATION #
##########################
# DSpace only supports two database types: PostgreSQL or Oracle
# PostgreSQL is highly recommended.
# Oracle support is DEPRECATED. See https://github.com/DSpace/DSpace/issues/8214

# URL for connecting to database
#    * Postgres template: jdbc:postgresql://localhost:5432/dspace
#    * Oracle template (DEPRECATED): jdbc:oracle:thin:@//localhost:1521/xe
db.url = jdbc:postgresql://localhost:5432/dspace

# JDBC Driver
#    * For Postgres: org.postgresql.Driver
#    * For Oracle (DEPRECATED):   oracle.jdbc.OracleDriver
db.driver = org.postgresql.Driver

# Database Dialect (for Hibernate)
#    * For Postgres: org.hibernate.dialect.PostgreSQL94Dialect
#    * For Oracle (DEPRECATED):   org.hibernate.dialect.Oracle10gDialect
db.dialect = org.hibernate.dialect.PostgreSQL94Dialect

# Database username and password
db.username = dspace
db.password = dspace

# Database Schema name
#    * For Postgres, this is often "public" (default schema)
#    * For Oracle (DEPRECATED), schema is equivalent to the username of your database account,
#      so this may be set to ${db.username} in most scenarios.
db.schema = public

## Connection pool parameters

# Maximum number of DB connections in pool (default = 30)
#db.maxconnections = 30

# Maximum time to wait before giving up if all connections in pool are busy (milliseconds)
# (default = 10000ms or 10 seconds)
#db.maxwait = 10000

# Maximum number of idle connections in pool (-1 = unlimited)
# (default = 10)
#db.maxidle = 10


#######################
# EMAIL CONFIGURATION #
#######################

# SMTP mail server (allows DSpace to send email notifications)
#mail.server = smtp.example.com

# SMTP mail server authentication username and password (if required)
#mail.server.username = myusername
#mail.server.password = mypassword

# SMTP mail server alternate port (defaults to 25)
#mail.server.port = 25

# From address for mail
# All mail from the DSpace site will use this 'from' address
#mail.from.address = dspace-noreply@myu.edu

# When feedback is submitted via the Feedback form, it is sent to this address
# Currently limited to one recipient!
#feedback.recipient = dspace-help@myu.edu

# General site administration (Webmaster) e-mail
#mail.admin = dspace-help@myu.edu

# Helpdesk E-mail
#mail.helpdesk = ${mail.admin}
#mail.helpdesk.name = Help Desk

# Recipient for server errors and alerts (defaults to mail.admin)
#alert.recipient = ${mail.admin}

# Recipient for new user registration emails (defaults to unspecified)
#registration.notify =


########################
# HANDLE CONFIGURATION #
########################
#
# Canonical Handle URL prefix
#
# Items in DSpace receive a unique URL, stored in dc.identifier.uri
# after it is generated during the submission process.
#
# If you register with CNRI's handle service at https://www.handle.net/,
# these links can be generated as permalinks using https://hdl.handle.net/
# as canonical prefix. Please make sure to change handle.canonical.prefix
# after registering with handle.net by uncommenting one of the following
# lines, depending if you prefer to use https or http:
# handle.canonical.prefix = https://hdl.handle.net/
# handle.canonical.prefix = http://hdl.handle.net/
#
# Note that this will not alter dc.identifier.uri metadata for existing
# items (only for subsequent submissions).

# CNRI Handle prefix
# (Defaults to the reserved dummy/fake prefix of 123456789)
#handle.prefix = 123456789

#######################
# PROXY CONFIGURATION #
#######################
# Uncomment and specify both properties if proxy server is required for external http requests
# (e.g. requests from DSpace to third party services like Creative Commons use this setting when enabled)
# Use regular hostname without port number
#http.proxy.host =

# port number of proxy server
#http.proxy.port =

##########################
# AUTHENTICATION METHODS #
##########################
# EXAMPLE OVERRIDE:
# Override the default authentication method(s) defined in authentication.cfg
# by defining your own custom ordered list in this local.cfg.
#
# By default, all of these methods are commented out and DSpace will use the
# settings from authentication.cfg. But you may uncomment whichever plugins you
# need in order to change the default settings (or reorder them below).
#
# You may also copy default settings from the corresponding authentication-*.cfg
# configuration file and override them in this local.cfg.

# IP-based authentication/authorization. See authentication-ip.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.IPAuthentication

# LDAP authentication/authorization. See authentication-ldap.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.LDAPAuthentication

# OIDC authentication/authorization. See authenication-oidc.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.OidcAuthentication

# Shibboleth authentication/authorization. See authentication-shibboleth.cfg for default configuration.
# Check also the cors settings below
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.ShibAuthentication

# ORCID certificate authentication.
# plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.OrcidAuthentication

# X.509 certificate authentication. See authentication-x509.cfg for default configuration.
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.X509Authentication

# Authentication by Password (encrypted in DSpace's database). See authentication-password.cfg for default configuration.
# Enabled by default in authentication.cfg
#plugin.sequence.org.dspace.authenticate.AuthenticationMethod = org.dspace.authenticate.PasswordAuthentication

#####################
# REST API SETTINGS #
#####################
# Allowed Cross-Origin-Resource-Sharing (CORS) origins (in "Access-Control-Allow-Origin" header).
# Only these origins (client URLs) can successfully authenticate with your REST API.
# Defaults to ${dspace.ui.url} if unspecified (as the UI must have access to the REST API).
# Multiple allowed origin URLs may be comma separated. Wildcard value (*) is NOT SUPPORTED.
# (Requires reboot of servlet container, e.g. Tomcat, to reload)
# When an external authentication system is involved like Shibboleth some browsers (i.e. Safari) include
# in the request the Origin header with the url of the IdP. In such case you need to allow also the IdP to
# avoid trouble for such browsers (i.e.  rest.cors.allowed-origins = ${dspace.ui.url}, https://samltest.id )
#rest.cors.allowed-origins = ${dspace.ui.url}

#################################################
# SPRING BOOT SETTINGS (Used by Server Webapp)  #
#################################################
# NOTE: Common Spring Boot application settings may be found at
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
#
# EXAMPLE OVERRIDE:
# By uncommenting the below Spring Boot settings, you can increase or decrease the maximum upload size.
# These defaults are specified in [dspace-src]/dspace-server-webapp/src/main/resources/application.properties
# but may be overridden in this local.cfg
#
# Maximum size of a single uploaded file
#spring.servlet.multipart.max-file-size = 512MB

# Maximum size of a multipart request (i.e. max total size of all files in one request)
#spring.servlet.multipart.max-request-size = 512MB
