#####################################
# Configuration locale pour Calypso #
#####################################

# Les propriétés définies ici ont priorité sur celles définies
# dans les autres fichiers de configuration (dspace.cfg, modules/*.cfg, ...).
# Toutefois, les variables d'environnement ont priorités sur ce fichier.
# Voir config-definition.xml pour plus de détails.

# Dans le fichier local.cfg, on doit définir UNIQUEMENT LES PROPRIÉTÉS
# QUI ONT LA MÊME VALEUR POUR TOUTES LES INSTANCES DE CALYPSO. Ce sont
# donc des propriétés qui sont liées au fonctionnement de l'application
# et non son environnement d'excutation.

# Par exemple, on va mettre ici des propriétés de configuration du "browsing"
# mais pas celles liées à l'accès à la base de donnée (URL de connexion,
# usager et mot de passe, etc.)

# Les propriétés spécifiques à l'environnement d'exécution seront définies
# dans des fichiers local.local.cfg qui est inclus avec la
# directive suivante:

include = local.local.cfg

# Les propriétés définies dans local.local.cfg ont priorités sur celles
# définies ci-dessous, si jamais elles sont le même nom. Donc le fichier
# local.local.cfg pourrait aussi servir à redéféfinir localement des 
# propriétés liées au fonctionnement, mais cette pratique devrait être
# réservée à des fins de test.

# Tous nos changements aux propriétés de configuration doivent être dans
# local.cfg ou dans local.local.cfg (ou en variable d'environnement). 
# JAMAIS dans dspace.cfg, modules/*.cfg, etc. Ces fichiers doivent toujours
# être conformes à la dernière version de Dspace.

##########################
# Nom et langues du site #
##########################

# Nom du site
# Voir l'impact réel et déterminer le bon nom et s'il doit être local
dspace.name = Calypso

# Default language for metadata values
default.language = fr
default.locale = fr
webui.supported.locales = fr, en


##########
# Browse #
##########

# Voir la section "Browse Configuration" dans dspace.cfg


########
# IIIF #
########

iiif.enabled = true
event.dispatcher.default.consumers = versioning, discovery, eperson, iiif

# Plusieurs autres configurations possibles, voir modules/iiif.cfg
