<?xml version="1.0" encoding="UTF-8"?>
<!--

    $Id$
    $URL$
    *************************************************************************
    Copyright (c) 2002-2009, DuraSpace.  All rights reserved
    Licensed under the DuraSpace License.

    A copy of the DuraSpace License has been included in this
    distribution and is available at: http://scm.dspace.org/svn/repo/licenses/LICENSE.txt

-->
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- these beans are needed to pass the basic SM tests -->
    <bean id="org.dspace.servicemanager.example.ConcreteExample" 
            class="org.dspace.servicemanager.example.ConcreteExample" />

    <bean id="org.dspace.servicemanager.example.ServiceExample" 
            class="org.dspace.servicemanager.example.ServiceExampleImpl" />

    <bean id="org.dspace.servicemanager.SampleAnnotationBean" 
        class="org.dspace.servicemanager.SampleAnnotationBean" />

    <bean id="org.dspace.servicemanager.spring.SpringAnnotationBean" 
        class="org.dspace.servicemanager.spring.SpringAnnotationBean" />

    <!-- NOTE: do not change this unless you know what you are doing -AZ -->

</beans>