RewriteEngine on

###################################################
## Redirecciones de rutas pre 2012 (ticket 4665) ##
###################################################

#External redirect para accessos phpoai de sedici2003
RewriteRule ^phpoai/oai2.php(.*)$ /oai/request$1 [L,R=301]

#De: /ARG-UNLP-EBook-0000000001/1789.pdf
RewriteRule ^([a-zA-Z0-9\-]+)/([0-9]+)\.[a-z]{3}$ /discover?query="$1" [L,R=301]

#De: /?id=ARG-UNLP-EBook-0000000001
RewriteCond %{QUERY_STRING} id=([a-zA-Z0-9\-]+)(.*)
RewriteRule ^$ /discover?query="%1" [L,R=301]

#De: /index.php?id=ARG-UNLP-ART-0000008109
RewriteCond %{QUERY_STRING} id=([a-zA-Z0-9\-]+)(.*)
RewriteRule ^index.php$ /discover?query="%1" [L,R=301]

#De: /search/request.php?id_document=ARG-UNLP-ART-0000008109
RewriteCond %{QUERY_STRING} id_document=([a-zA-Z0-9\-]+)(.*)
RewriteRule ^search/request.php$ /discover?query="%1" [L,R=301]

RewriteRule ^rss.php$ /feed/rss_2.0/site [L,R=301]

RewriteRule ^recorrido/recorrido.php /community-list [L,R=301]

RewriteRule ^search/(.*).php /discover [L,R=301]

RewriteRule ^xoai/(.*)$ /oai/$1 [R=301,NC,L]

RewriteRule ^blog(.*)$ http://blog.sedici.unlp.edu.ar$1 [R=301,NC,L]

###################################################
###################################################

#Canalizo todo hacia dspace por mod_proxy (el proxy se configura desde el virtual host)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ ajp://localhost:8009/$1 [P]

