/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */
.import-records-modal, .import-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal {
    overflow: visible;

    .modal-body {
      //max-height: 500px;
      overflow-y: auto;
    }
  }

  #aspect_submission_StepTransformer_item_import-title{
    margin-bottom:5px;
  }
}

.modal-open  {
  #main-container {
    overflow: visible;
  }
  .navbar {
    z-index:0;
  }
}

#aspect_administrative_importer_external_scidir_LiveImportResult_div_live-import-result {
  .pagination-next {
    float:right;
  }
}

.import-record {
  padding-bottom: 15px;
}

.record-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.record-checkbox .checkbox {
  margin:0;
}

#aspect_administrative_importer_external_scidir_LiveImportResult_div_pagination .ds-paragraph,
#aspect_administrative_importer_external_scidir_LiveImportResult_div_navigation-buttons .ds-paragraph,
#aspect_administrative_importer_external_scidir_LiveImportSelected_div_navigation-buttons .ds-paragraph{
  display: inline;
}

.records-selected {
  padding-top:10px;
}