## Ignore the MVN compiled output directories from version tracking
target/

## Ignore tags index files created by Exuberant Ctags
tags

## Ignore project files created by Eclipse
.settings/
/bin/
.project
.classpath
.checkstyle

## Ignore project files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
overlays/

## Ignore project files created by NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Ignore all *.properties file in root folder, EXCEPT build.properties (the default)
## KEPT FOR BACKWARDS COMPATIBILITY WITH 5.x (build.properties is now replaced with local.cfg)
/*.properties
!/build.properties

# Ignore a local.cfg file in root folder, if it exists
/local.cfg
# Also ignore it under dspace/config
/dspace/config/local.cfg

##Mac noise
.DS_Store

##Ignore JRebel project configuration
rebel.xml


## Ignore jenv configuration
.java-version
