language: java
sudo: false

env: 
  # Give Maven 1GB of memory to work with
  - MAVEN_OPTS=-Xmx1024M

before_install:
  # Remove outdated settings.xml from Travis builds. Workaround for https://github.com/travis-ci/travis-ci/issues/4629
  - rm ~/.m2/settings.xml

# Skip install stage, as we'll do it below
install: "echo 'Skipping install stage, dependencies will be downloaded during build and test stages.'"

# Two stage Build and Test
# 1. Install & Unit Test APIs
# 2. Assemble DSpace
script:
  # 1. [Install & Unit Test] Check source code licenses and run source code Unit Tests
  #    (This explicitly skips building the 'dspace' assembly module, since we only want to do that ONCE.)
  #        license:check => Validate all source code license headers
  #        -Dmaven.test.skip=false => Enable DSpace Unit Tests
  #        -P !dspace => SKIP full DSpace assembly (will do below)
  #        -B => Maven batch/non-interactive mode (recommended for CI)
  #        -V => Display Maven version info before build
  - "mvn clean install license:check -Dmaven.test.skip=false -P !dspace -B -V"
  # 2. [Assemble DSpace] Ensure overlay & assembly process works (from [src]/dspace/)
  #        -P !assembly => SKIP the actual building of [src]/dspace/dspace-installer (as it can be memory intensive)
  - "cd dspace && mvn package -P !assembly -B -V"
