<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <display-name>DSpace SWORD Server</display-name>

    <!-- ConfigurationService initialization for dspace.dir -->
    <context-param>
      <param-name>dspace.dir</param-name>
      <param-value>${dspace.dir}</param-value>
      <description>
        The location of the DSpace home directory
      </description>
    </context-param>

  <context-param>
    <param-name>sword-server-class</param-name>
    <param-value>org.dspace.sword.DSpaceSWORDServer</param-value>
    <description>
      The SWORDServer class name
    </description>
  </context-param>
  
  <context-param>
    <param-name>authentication-method</param-name>
    <param-value>Basic</param-value>
    <description>
      The type of authentication used : [Basic|None]
    </description>
  </context-param>
  
   <!-- 
   Listener to initialise DSpace configuration and clean up the application 
   -->
    <listener>
       <listener-class>
          org.dspace.app.util.DSpaceContextListener
       </listener-class>
    </listener>
    <listener>
      <listener-class>
         org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener
      </listener-class>
   </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>servicedocument</servlet-name>
    <servlet-class>org.purl.sword.server.ServiceDocumentServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>deposit</servlet-name>
    <servlet-class>org.purl.sword.server.DepositServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>media-link</servlet-name>
    <servlet-class>org.purl.sword.server.AtomDocumentServlet</servlet-class>
  </servlet>

  <!-- Servlet Mappings -->

  <servlet-mapping>
    <servlet-name>servicedocument</servlet-name>
    <url-pattern>/servicedocument/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deposit</servlet-name>
    <url-pattern>/deposit/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>media-link</servlet-name>
    <url-pattern>/media-link/*</url-pattern>
  </servlet-mapping>
  
</web-app>
