<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="dspace-lni">
  <display-name>DSpace Lightweight Network Interface</display-name>

  <context-param>
    <param-name>dspace-config</param-name>
    <param-value>${dspace.dir}/config/dspace.cfg</param-value>
    <description>
      The location of the main DSpace configuration file
    </description>
  </context-param>

    <!-- new ConfigurationService initialization for dspace.dir -->
    <context-param>
        <param-name>dspace.dir</param-name>
        <param-value>${dspace.dir}</param-value>
        <description>
            The location of the main DSpace configuration file
        </description>
    </context-param>



    <!-- kernel start listener (from impl), starts up the kernel for standalong webapps -->
    <listener>
        <listener-class>org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener</listener-class>
    </listener>

  <!--
   Listener to initialise DSpace configuration and clean up the application
  -->
  <listener>
     <listener-class>
        org.dspace.app.util.DSpaceContextListener
     </listener-class>
  </listener>
  
  <!--  Servlets -->

  <servlet>
    <servlet-name>LNI-DAV</servlet-name>
    <servlet-class>org.dspace.app.dav.DAVServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LNI-SOAP</servlet-name>
    <servlet-class>org.dspace.app.dav.LNISoapServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LNI-DAV</servlet-name>
    <url-pattern>/dav/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LNI-SOAP</servlet-name>
    <url-pattern>/lni/*</url-pattern>
  </servlet-mapping>

<!-- uncomment to require encryption on LNI servlets. -->
<!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages requiring HTTPS</web-resource-name>
      <url-pattern>/dav/*</url-pattern>
      <url-pattern>/lni/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
-->

</web-app>
