/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-feb-2014, 10:46:51
    Author     : David Andrés Maznzano Herrera <damanzano>
*/

@font-face {
	font-family: 'icesi_icons';
	src:url('../../fonts/icesi_icons.eot?-bvbikh');
	src:url('../../fonts/icesi_icons.eot?#iefix-bvbikh') format('embedded-opentype'),
		url('../../fonts/icesi_icons.woff?-bvbikh') format('woff'),
		url('../../fonts/icesi_icons.ttf?-bvbikh') format('truetype'),
		url('../../fonts/icesi_icons.svg?-bvbikh#search_lupa') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icesiicon {
	font-family: 'icesi_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
        margin: 0 .25em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icesiicon-report2:before {
	content: "\e60b";
}
.icesiicon-report1:before {
	content: "\e60c";
}
.icesiicon-patent2:before {
	content: "\e610";
}
.icesiicon-patent1:before {
	content: "\e611";
}
.icesiicon-objeto-aprendizaje2:before {
	content: "\e616";
}
.icesiicon-objeto-aprendizaje1:before {
	content: "\e615";
}
.icesiicon-musica:before {
	content: "\e617";
}
.icesiicon-journal:before {
	content: "\e618";
}
.icesiicon-grabacion:before {
	content: "\e619";
}
.icesiicon-documento-institucional:before {
	content: "\e61a";
}
.icesiicon-conference-object:before {
	content: "\e61b";
}
.icesiicon-audio:before {
	content: "\e61c";
}
.icesiicon-annotation:before {
	content: "\e61d";
}
.icesiicon-working-paper:before {
	content: "\e61e";
}
.icesiicon-video:before {
	content: "\e60d";
}
.icesiicon-tesis:before {
	content: "\e60e";
}
.icesiicon-review:before {
	content: "\e60f";
}
.icesiicon-map:before {
	content: "\e612";
}
.icesiicon-image:before {
	content: "\e613";
}
.icesiicon-article:before {
	content: "\e614";
}
.icesiicon-empresas:before {
	content: "\e609";
}
.icesiicon-ciencias:before {
	content: "\e61f";
}
.icesiicon-tecnologia:before {
	content: "\e620";
}
.icesiicon-salud:before {
	content: "\e621";
}
.icesiicon-comunicaciones-icesi:before {
	content: "\e622";
}
.icesiicon-humanidades:before {
	content: "\e623";
}
.icesiicon-economia:before {
	content: "\e624";
}
.icesiicon-derecho:before {
	content: "\e625";
}
.icesiicon-ciencias-administrativas:before {
	content: "\e626";
}
.icesiicon-patrimonio-fotografico:before {
	content: "\e627";
}
.icesiicon-artes-letras-diseño:before {
	content: "\e628";
}
.icesiicon-breadcrumbs:before {
	content: "\e62b";
}
.icesiicon-DublinCore:before {
	content: "\e62c";
}
.icesiicon-download:before {
	content: "\e62d";
}
.icesiicon-statistics:before {
	content: "\e62e";
}
.icesiicon-arrow1:before {
	content: "\e629";
}
.icesiicon-arrow2:before {
	content: "\e62a";
}
.icesiicon-menu:before {
	content: "\e600";
}
.icesiicon-language:before {
	content: "\e630";
}
.icesiicon-share:before {
	content: "\e631";
}
.icesiicon-lupa:before {
	content: "\e60a";
}


