<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>DSpace SWORD 2.0 Server</display-name>

    <!-- ConfigurationService initialization for dspace.dir -->
    <context-param>
        <param-name>dspace.dir</param-name>
        <param-value>${dspace.dir}</param-value>
        <description>
            The location of the DSpace home directory
        </description>
    </context-param>

	<!-- Configuration Information -->

	<context-param>
		<param-name>service-document-impl</param-name>
		<param-value>org.dspace.sword2.ServiceDocumentManagerDSpace</param-value>
		<description>
			The ServiceDocumentManager server implementation class name
		</description>
	</context-param>

	<!-- this can be omitted if the server does not wish to support listing collection contents -->
	<context-param>
		<param-name>collection-list-impl</param-name>
		<param-value>org.dspace.sword2.CollectionListManagerDSpace</param-value>
		<description>
			The CollectionListManager server implementation class name
		</description>
	</context-param>

	<context-param>
		<param-name>collection-deposit-impl</param-name>
		<param-value>org.dspace.sword2.CollectionDepositManagerDSpace</param-value>
		<description>
			The CollectionDepositManager server implementation class name
		</description>
	</context-param>

	<context-param>
		<param-name>media-resource-impl</param-name>
		<param-value>org.dspace.sword2.MediaResourceManagerDSpace</param-value>
		<description>
			The MediaResourceManager server implementation class name
		</description>
	</context-param>

	<context-param>
		<param-name>container-impl</param-name>
		<param-value>org.dspace.sword2.ContainerManagerDSpace</param-value>
		<description>
			The ContainerManager server implementation class name
		</description>
	</context-param>

	<context-param>
		<param-name>statement-impl</param-name>
		<param-value>org.dspace.sword2.StatementManagerDSpace</param-value>
		<description>
			The StatementManager server implementation class name
		</description>
	</context-param>

	<!-- This option here is an actual implementation of the configuration class, which
			contains some default values -->
	<context-param>
		<param-name>config-impl</param-name>
		<param-value>org.dspace.sword2.SwordConfigurationDSpace</param-value>
		<description>
			The SwordConfiguration server implementation class name
		</description>
	</context-param>

	<context-param>
		<param-name>authentication-method</param-name>
		<param-value>Basic</param-value>
		<description>
			The type of authentication used : [Basic|None]
		</description>
	</context-param>

        <!--
          DSpace Kernel startup listener. This listener is in charge of initializing/starting the
          DSpace Kernel. It MUST be listed BEFORE any other DSpace listeners, as DSpace services
          will not function until the Kernel is initialized.
        -->
	<listener>
		<listener-class>
			org.dspace.app.util.DSpaceContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener
		</listener-class>
	</listener>


	<!-- Servlets -->
	<servlet>
		<servlet-name>servicedocument</servlet-name>
		<servlet-class>org.swordapp.server.servlets.ServiceDocumentServletDefault</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>collection</servlet-name>
		<servlet-class>org.swordapp.server.servlets.CollectionServletDefault</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>mediaresource</servlet-name>
		<servlet-class>org.swordapp.server.servlets.MediaResourceServletDefault</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>container</servlet-name>
		<servlet-class>org.swordapp.server.servlets.ContainerServletDefault</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>statement</servlet-name>
		<servlet-class>org.swordapp.server.servlets.StatementServletDefault</servlet-class>
	</servlet>

	<!-- Servlet Mappings -->

	<servlet-mapping>
		<servlet-name>servicedocument</servlet-name>
		<url-pattern>/servicedocument/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>collection</servlet-name>
		<url-pattern>/collection/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mediaresource</servlet-name>
		<url-pattern>/edit-media/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>container</servlet-name>
		<url-pattern>/edit/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>statement</servlet-name>
		<url-pattern>/statement/*</url-pattern>
	</servlet-mapping>

</web-app>
