#if($itemMetadata.get("dc.contributor.author"))$itemMetadata.get("dc.contributor.author") -#end #if($itemMetadata.get("dc.title"))$itemMetadata.get("dc.title") -#end #if($itemMetadata.get("dc.date.issued"))$itemMetadata.get("dc.date.issued") -#end $pageNumber - #if($itemMetadata.get("dc.type"))$itemMetadata.get("dc.type") -#end #if($itemMetadata.get("dc.publisher.program"))$itemMetadata.get("dc.publisher.program") -#end #if($itemMetadata.get("dc.publisher"))$itemMetadata.get("dc.publisher") -#end $place #if($itemMetadata.get("dc.date.available"))- $itemMetadata.get("dc.date.available")#end