<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <bean class='org.dspace.xmlworkflow.Role'
          id='nullRole'>
        <description>
            To attach null actions to a Collection for curation testing.
        </description>
        <property name='name'
                  value='nullRole'/>
        <property name='scope'
                  value="#{ T(org.dspace.xmlworkflow.Role.Scope).COLLECTION}"/>
        <property name='description'
                  value='Does nothing'/>
    </bean>

    <bean class='org.dspace.xmlworkflow.state.actions.UserSelectionActionConfig'
          id='claimactionNoUi'
          scope="prototype">
        <description>Claim task for current user without interaction</description>
        <constructor-arg type="java.lang.String"
                         value="claimactionNoUi"/>
        <property name="processingAction"
                  ref="claimactionAPI"/>
        <property name="requiresUI"
                  value="false"/>
    </bean>

    <bean class='org.dspace.xmlworkflow.state.actions.WorkflowActionConfig'
          id='noAction'
          scope='prototype'>
        <description>Takes no action</description>
        <constructor-arg type='java.lang.String'
                         value='noaction'/>
        <property name='processingAction'>
            <bean class='org.dspace.xmlworkflow.state.actions.processingaction.NoAction'/>
        </property>
        <property name='requiresUI'
                  value='true'/>
    </bean>

    <bean class='org.dspace.xmlworkflow.state.Step'
          id='nullStep'>
        <description>Selects current user, does nothing</description>
        <property name='role'
                  ref='nullRole'/>
        <property name='userSelectionMethod'
                  ref='claimactionNoUi'/>
        <property name='actions'>
            <util:list>
                <ref bean='noAction'/>
            </util:list>
        </property>
    </bean>

    <bean class='org.dspace.xmlworkflow.state.Workflow'
          id='nullWorkflow'>
        <description>No-action workflow for curation testing</description>
        <property name='firstStep'
                  ref='nullStep'/>
        <property name='steps'>
            <util:list>
                <ref bean='nullStep'/>
            </util:list>
        </property>
    </bean>

</beans>
