<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2002-2010, DuraSpace.  All rights reserved
    Licensed under the DuraSpace License.

    A copy of the DuraSpace License has been included in this
    distribution and is available at: http://www.dspace.org/license

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire-candidates="*Service,*DAO,javax.sql.DataSource">

    <context:annotation-config /> <!-- allows us to use spring annotations in beans -->
    <!-- NOTE: I am not convinced this is a good idea, it is really slow and I think possibly dangerous -AZ -->
    <!--
    <context:component-scan base-package="org.dspace" name-generator="org.dspace.servicemanager.spring.FullPathBeanNameGenerator" />
    -->

    <!-- the bean processor interceptor -->
    <bean class="org.dspace.servicemanager.spring.DSpaceBeanPostProcessor" />

    <!-- Old Solr Authority control (search and Indexing service -->
    <bean id="org.dspace.authority.AuthoritySearchService" class="org.dspace.authority.AuthoritySolrServiceImpl" />
    <alias alias="org.dspace.authority.indexer.AuthorityIndexingService"         name="org.dspace.authority.AuthoritySearchService" />

    <!-- New editable Authority Indexing Service -->
    <bean id="org.dspace.content.authority.EditableAuthorityIndexingService" class="org.dspace.content.authority.SolrAuthorityServiceImpl" />

    <!--<bean id="dspace.DSpaceAuthorityIndexer" class="org.dspace.authority.indexer.DSpaceAuthorityIndexer"/>    -->

    <bean name="AuthorityTypes" class="org.dspace.authority.AuthorityTypes">

        <property name="config">
            <list>
                <bean class="org.dspace.authority.config.AuthorityTypeConfiguration">
                    <!--
                    AuthorityType that this configuration applies to
                     -->
                     <property name="type">
                         <bean class="org.dspace.authority.AuthorityValue"/>
                     </property>
                    <!--
                    choice select fields that should be exposed by default for any AuthorityValue
                         These map to Concept metadata stored in "otherMetadata" in the AuthorityValue.
                    -->
                     <property name="choiceSelectFields">
                         <map>
                             <!--
                             choice meta to show for authors from Concept meta. Mapped to
                              simple i18n keys for Labeling
                              -->
                             <entry key="first-name" value="person.givenName"/>
                             <entry key="last-name" value="person.familyName"/>
                             <entry key="orcid" value="person.orcid.id"/>
                         </map>
                     </property>
                </bean>
            </list>
        </property>

        <property name="types">
            <list>
                <bean class="org.dspace.authority.orcid.OrcidAuthorityValue"/>
                <bean class="org.dspace.authority.PersonAuthorityValue"/>
            </list>
        </property>
        <property name="fieldDefaults">
            <map>
                <entry key="dc_contributor_author">
                    <bean class="org.dspace.authority.PersonAuthorityValue"/>
                </entry>
            </map>
        </property>
        <property name="externalSources">
            <map>
                <entry key="dc_contributor_author">
                    <ref bean="OrcidSource"/>
                </entry>
            </map>
        </property>
    </bean>

    <alias name="OrcidSource" alias="AuthoritySource"/>
    <bean name="OrcidSource" class="org.dspace.authority.orcid.Orcid">
        <constructor-arg value="http://pub.orcid.org"/>
        <constructor-arg value="http://api.sandbox.orcid.org/v1.1"/>
    </bean>


</beans>
