<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean class="org.dspace.submit.lookup.SubmissionLookupService"
		name="org.dspace.submit.lookup.SubmissionLookupService">
		<property name="transformationEngine" ref="transformationEngine"/>
		<property name="extraMetadataToKeep">
			<list>
				<value>dc.import.contributorauthor</value>
				<value>dc.import.contributoreditor</value>
				<value>dc.import.contributortranslator</value>
				<!-- <value>dc.description.scopusurl</value>
				<value>dc.description.scopuscitationcount</value>
				<value>dc.description.scopuscitationurl</value>-->
			</list>
		</property> 
		<property name="enhancedMetadata">
			<map>
				<entry key="allauthors">
					<bean class="org.dspace.submit.util.RepeatableToSingleValueEnhancer">
						<property name="separator" value="\n" />
						<property name="separatorWhitespaceAfter" value="false" />
						<property name="singleValues">
						<list>
							<value>authors</value>
						</list>
						</property>
					</bean>
				</entry>
				<entry key="allkeywords">
					<bean class="org.dspace.submit.util.RepeatableToSingleValueEnhancer">
						<property name="separator" value=";" />
						<property name="singleValues">
						<list>
							<value>keywords</value>
							<value>mesh</value>
						</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<bean name="transformationEngine" class="gr.ekt.bte.core.TransformationEngine">
	    <property name="dataLoader" ref="multipleDataLoader"/>
    	<property name="workflow" ref="linearWorkflow"/>
  	</bean>
		
	<bean name="multipleDataLoader" class="org.dspace.submit.lookup.MultipleSubmissionLookupDataLoader">
	    <property name="providers">
	        <list>
				<ref bean="pubmedLookupProvider" />
				<ref bean="crossrefLookupProvider" />
				<ref bean="arxivLookupProvider" />
			</list>
	    </property>
	    
	</bean>

	<!-- Specify here any filters or modifiers to run before the output -->
	<bean name="linearWorkflow" class="gr.ekt.bte.core.LinearWorkflow">
	    <property name="process">
			<list>
			    <ref bean="mapConverter_arxivSubject"/>
			    <ref bean="mapConverter_pubstatusPubmed"/>
			    <ref bean="removeLastDot"/>
			</list>
		</property>
	</bean>
	
	<bean name="mapConverter_arxivSubject" class="org.dspace.submit.lookup.MapConverterModifier" 
	    init-method="init">
	    <constructor-arg value="apConverter_arxivSubject Modifier"/>
	    <property name="filename" value="mapConverter-arxivSubject.properties"/>
	    <property name="fieldKeys">
	        <list>
	        	<value>arxivCategory</value>
	        </list>
	    </property>
	</bean>
	
	<bean name="mapConverter_pubstatusPubmed" class="org.dspace.submit.lookup.MapConverterModifier" 
	    init-method="init">
	    <constructor-arg value="mapConverter_pubstatusPubmed Modifier"/>
	    <property name="filename" value="mapConverter-pubstatusPubmed.properties"/>
	    <property name="fieldKeys">
	        <list>
	        	<value>publicationstatus</value>
	        </list>
	    </property>
	</bean>
	
	<bean name="removeLastDot" class="org.dspace.submit.lookup.RemoveLastDotModifier">
	    <constructor-arg value="removeLastDot Modifier"/>
	    <property name="fieldKeys">
	        <list>
	        	<value>title</value>
	        </list>
	    </property>
	</bean>
	
	<bean class="org.dspace.submit.lookup.PubmedService" name="pubmedService" />
	
	<bean class="org.dspace.submit.lookup.PubmedLookupProvider" name="pubmedLookupProvider">
		<property name="pubmedService" ref="pubmedService" />
		<property name="searchProvider" value="false" />
		<property name="fieldMap">
			<map>
				<entry key="pubmedID" value="pmid" />
				<entry key="doi" value="doi" />
				<entry key="issn" value="issn" />
				<entry key="eissn" value="eissn" />
				<entry key="journalTitle" value="journal" />
				<entry key="title" value="title" />
				<entry key="pubblicationModel" value="" />
				<entry key="year" value="issued" />
				<entry key="volume" value="volume" />
				<entry key="issue" value="issue" />
				<entry key="language" value="language" />
				<entry key="type" value="subtype" />
				<entry key="primaryKeywords" value="keywords" />
				<entry key="secondaryKeywords" value="keywords" />
				<entry key="primaryMeshHeadings" value="mesh" />
				<entry key="secondaryMeshHeadings" value="mesh" />
				<entry key="startPage" value="firstpage" />
				<entry key="endPage" value="lastpage" />
				<entry key="summary" value="abstract" />
				<entry key="status" value="publicationstatus" />
				<entry key="authors" value="authors" />
			</map>
		</property>
	</bean>

	<bean class="org.dspace.submit.lookup.ArXivService" name="arXivService" />
	
	<bean class="org.dspace.submit.lookup.ArXivLookupProvider"
		name="arxivLookupProvider">
		<property name="arXivService" ref="arXivService" />
		<property name="searchProvider" value="false" />
		<property name="fieldMap">
			<map>
				<entry key="journalRef" value="journal" />
				<entry key="doi" value="doi" />
				<entry key="authors" value="authors" />
				<entry key="comment" value="note" />
				<entry key="year" value="issued" />
				<entry key="articleTitle" value="title" />
				<entry key="summary" value="abstract" />
				<entry key="splashPageUrl" value="url" />
				<entry key="pdfUrl" value="fulltextUrl" />
				<entry key="primaryCategory" value="arxivCategory" />
				<entry key="category" value="arxivCategory" />
				<entry key="source" value="arxivID" />
			</map>
		</property>
	</bean>

	<bean class="org.dspace.submit.lookup.CrossRefService" name="crossrefService" />	
	
	<bean class="org.dspace.submit.lookup.CrossRefLookupProvider"
		name="crossrefLookupProvider">
		<property name="crossrefService" ref="crossrefService" />
		<property name="searchProvider" value="false" />
		<property name="fieldMap">
			<map>
				<entry key="doi" value="doi" />
				<entry key="itemType" value="" />
				<entry key="issn" value="jissn" />
				<entry key="eissn" value="jeissn" />
				<entry key="isbn" value="isbn" />
				<entry key="seriesTitle" value="serie" />
				<entry key="journalTitle" value="journal" />
				<entry key="volumeTitle" value="book" />
				<entry key="articleTitle" value="title" />
				<entry key="authors" value="authors" />
				<entry key="editors" value="authors" />
				<entry key="translators" value="translators" />
				<entry key="chairs" value="chairs" />
				<entry key="volume" value="volume" />
				<entry key="issue" value="issue" />
				<entry key="firstPage" value="firstPage" />
				<entry key="lastPage" value="lastPage" />
				<entry key="editionNumber" value="edition" />
				<entry key="year" value="issued" />
				<entry key="publicationType" value="subtype" />
			</map>
		</property>
	</bean>
</beans>