NameVirtualHost *:80
<VirtualHost *:80>
  ServerAdmin admin@sedici.unlp.edu.ar
  ServerName dspace.localhost
  ServerAlias sedici.unlp.edu.ar
  ServerAlias www.sedici.unlp.edu.ar
  ServerAlias dspace.sedici.unlp.edu.ar

  RewriteEngine On
#  RewriteLog rewrite_sedici.log
#  RewriteLogLevel 3

  #directorio con reglas de escritura y otras yerbas
  DocumentRoot /var/dspace/config/httpd
  <Directory /var/dspace/config/httpd>
    AllowOverride all
    Order allow,deny
    Allow from all
  </Directory>

  ProxyPass /blog !
  Alias /blog "/var/www/sedici_blog"
  <Directory /var/www/sedici_blog>
    AllowOverride all
    Order allow,deny
    Allow from all
  </Directory>
  
  ####################################################
  ########## PROXY A DSPACE ##########################
  ####################################################

  RewriteEngine On
  #RewriteRule ^/dspace(.*) $1 [PT,L]
  ProxyRequests Off

  <Location />
    Order allow,deny
    Allow from all

  #  ProxyPass ajp://localhost:8009/ retry=10
   # ProxyPassReverse ajp://localhost:8009/
  </Location>


  <Location /manager>
    Order allow,deny
    Deny from all
    Allow from 163.10.34 192.168 127.0
  </Location>

  ErrorLog /var/log/apache2/error-dspace.log
  CustomLog /var/log/apache2/access-dspace.log common

</VirtualHost>


