	body {
		margin:0px;
		background:white;
		margin-top:5px;
		margin-bottom:5px;
		font-family:verdana;
		color:#333;
		}
	
	#main {
		border-left:1px solid #D0D0D0; 
		border-right:1px solid #D0D0D0; 
		border-bottom:1px solid #D0D0D0; 		
		border-top:1px solid #D0D0D0; 		
		background:#fff;
		margin-left:50px;
		margin-right:50px;
		}

/* Looks like you have to specify the width of #menu
or IE5 Mac stretches it all the way across the div, and 
Opera streches it half way. */

	#main #menu {
		border-left:1px dotted #ccc; 
/*		border-bottom:1px solid #000;*/
		float:right;
		width:230px;
		background:white;
		margin:0px 0px 10px 10px;
		}
		
	td, h3, p,h1,pre {
		margin:0px 20px 20px 20px;
		font-size:11px;
		line-height:140%;
		}
		
	.header {
	padding-left: 10px;
	padding-top:30px;
	}
	
	.nav	{
		padding-left:10px;
		padding-bottom:10px;
		font-size:11px;
		margin-bottom:16px;
	}
	
	#menu p { 
		font-size:11px;
	}
	
	.dent {
	margin-left:64px;
		}
