body {
  font-family: "Athelas Regular",Baskerville,'Times New Roman',Times,serif;
}
div.navbar {
  background: url("../images/sewanee-banner.jpg") no-repeat;
  height: 99px;
  width: 985px;
  margin: 0 auto;
}
div.trail-wrapper {
  background-color: #ACC0D9;
  border-bottom: 1px solid #9CACBA;
}
.container h2 {
  color: #402A80;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #FDF9CC;
  background-color: #402A80;
  border-color: #402A80;
}
.btn-primary {
  background-color: #402A80;
  border-color: #566B81;
  color: #FDF9CC;
}
a.list-group-item:hover, a.list-group-item:focus {
  background-color: #FDF9CC;
  color: #402A80;
  text-decoration: none;
}
.item-summary-view-metadata h5 {
  color: #402A80;
}
