<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
 - lni-web.xml
 -
 - Version: $Revision$
 -
 - Date: $Date$
 -
 - Copyright (c) 2002, Hewlett-Packard Company and Massachusetts
 - Institute of Technology.  All rights reserved.
 -
 - Redistribution and use in source and binary forms, with or without
 - modification, are permitted provided that the following conditions are
 - met:
 -
 - - Redistributions of source code must retain the above copyright
 - notice, this list of conditions and the following disclaimer.
 -
 - - Redistributions in binary form must reproduce the above copyright
 - notice, this list of conditions and the following disclaimer in the
 - documentation and/or other materials provided with the distribution.
 -
 - - Neither the name of the Hewlett-Packard Company nor the name of the
 - Massachusetts Institute of Technology nor the names of their
 - contributors may be used to endorse or promote products derived from
 - this software without specific prior written permission.
 -
 - THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 - ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 - LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 - A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 - HOLDERS OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 - INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 - BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
 - OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 - ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
 - TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
 - USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
 - DAMAGE.
-->
<web-app id="dspace-lni">
  <display-name>DSpace Lightweight Network Interface</display-name>

  <context-param>
    <param-name>dspace-config</param-name>
    <param-value>${dspace.dir}/config/dspace.cfg</param-value>
    <description>
      The location of the main DSpace configuration file
    </description>
  </context-param>
  
  <!-- DSpace configuration initialisation.  This needs to be loaded before
       other servlets. -->
  <servlet>
    <servlet-name>load-dspace-config</servlet-name>
    <servlet-class>org.dspace.app.dav.LoadDSpaceLNIConfig</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>LNI-DAV</servlet-name>
    <servlet-class>org.dspace.app.dav.DAVServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LNI-SOAP</servlet-name>
    <servlet-class>org.dspace.app.dav.LNISoapServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LNI-DAV</servlet-name>
    <url-pattern>/dav/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LNI-SOAP</servlet-name>
    <url-pattern>/lni/*</url-pattern>
  </servlet-mapping>

<!-- uncomment to require encryption on LNI servlets. -->
<!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages requiring HTTPS</web-resource-name>
      <url-pattern>/dav/*</url-pattern>
      <url-pattern>/lni/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
-->

</web-app>
