input[type="text"] {
  margin-top: calc(-0.5 * var(--bs-font-size-base));
  background-color: #fff !important;

  &.collapsed {
    opacity: 0;
  }
}

a.submit-icon {
  cursor: pointer;
  position: sticky;
  top: 0;

  color: var(--ds-header-icon-color);
  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .query:focus {
    max-width: 250px !important;
    width: 40vw !important;
  }

}

