<div class="ml-4">
    <ds-content-accordion *ngFor="let permittedVersions of policy.permittedVersions" [version]="permittedVersions">
    </ds-content-accordion>
    <div class="row" *ngIf="!!policy?.urls">
        <div class="col-12">
            <p class="m-1">
                {{'submission.sections.sherpa.publisher.policy.more.information' | translate}}
            </p>
            <ul>
                <li *ngFor="let url of policy.urls | keyvalue">
                    <a href="{{url.key}}" target="_blank">{{url.value}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>