/*Desde acá van los estilos para la pagina de statistics */

.contenedor-cuadrado{
	width:20%;
	heigth:20%;
	color:#9ec4cd;
	text-align:center;
}

.cuadrado {
     width: auto; 
     height: auto; 
     border: 6px solid #9ec4cd;
     margin:auto;
}

.encuadrado{
	font-size:35px;	
	
}
.curso p{
	font-size:12px;
}
.curso div{
	font-size:25px;
}
.tittle-statistics{
	
	font-size:20px;
	color:#79aab2;
}
.linea-statistics{
	background-color:#79aab2 ;
	height: 2px;
}
.lista_statistics{
	list-style:none;
}
.lista_statistics li div div{
	font-size:16px;
	color:black;
}
.lista_statistics li div .color{
	color:#79aab2;
}
.tamanio{
	height:300px;
}
.tamanio .ct-chart-pie{
	height:500px;
}

.tamanio svg g foreignObject .ct-label{
	font-size:10px ;
}
.tamanio svg g  .ct-label{
	font-size:16px ;
}
/*.ct-chart .ct-series.ct-series-a .ct-area, .ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut){
	fill:#758fbc !important;
}
.ct-chart .ct-series.ct-series-b .ct-area, .ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut){
	fill:#436f93 !important;
}
.ct-chart .ct-series.ct-series-c .ct-area, .ct-chart .ct-series.ct-series-c .ct-slice:not(.ct-donut){
	fill:#43968a !important;
}
.ct-chart .ct-series.ct-series-d .ct-area, .ct-chart .ct-series.ct-series-d .ct-slice:not(.ct-donut){
	fill:#80bfbc !important;
}*/
