/* Estilos de las páginas "Statistics"*/

.contenedor-cuadrado{
	width:20%;
	heigth:20%;
	color:#9ec4cd;
	text-align:center;
}

.cuadrado {
     width: auto; 
     height: auto; 
     border: 6px solid #9ec4cd;
     margin:auto;
}

.encuadrado{
	font-size:35px;	
	
}
.curso p{
	font-size:12px;
}
.curso div{
	font-size:25px;
}
.tittle-statistics{
	
	font-size:20px;
	color:#79aab2;
}
.linea-statistics{
	background-color:#79aab2 ;
	height: 2px;
}
.lista_statistics{
	list-style:none;
}
.lista_statistics li div div{
	font-size:16px;
	color:black;
}
.lista_statistics li div .color{
	color:#79aab2;
}
.tamanio{
	height:300px;
}

/* chartist-js - "Pie" chart styles*/
.tamanio .ct-chart-pie{
	height:500px;
	overflow: visible;
}

.tamanio svg g foreignObject .ct-label{
	font-size:10px ;
}

.tamanio .ct-chart-pie g.ct-series:hover{
  stroke: #585858;
  stroke-width: 1px;
}

.tamanio .ct-chart-pie g.ct-series:active{
  stroke: #FF4000; 
  stroke-width: 1px;
}

@media screen and (max-width: 320px){  .tamanio .ct-chart-pie g.ct-series text {
      font-size: 13px; }
}
@media screen and (min-width: 321px) and (max-width: 767px){ .tamanio .ct-chart-pie g.ct-series text {
      font-size: 14px; }
}

@media screen and (min-width: 768px){ .tamanio .ct-chart-pie g.ct-series text {
      font-size: 16px; }
}

