@
namespace xml "http: //www.w3.org /XML/1998/namespace"
	/* Estilo personalizado de CIC-DIGITAL */
	/* Extiende el tema de Mirage */ 
.container {
	/*width: 970px !important;*/
	
}

ul {
	margin-left: 0px;
}

#welcome-panel h1 {
	color: rgb(186, 223, 229);
	font-weight: bold;
	text-transform: uppercase;
}

#cic-header {
	background-image: url('../images/header_72.png');
	padding: 30px;
}

.page-header {
	border-bottom: none !important;
	/* 	background-image: url('../images/logo_72.png'); */
	/* 	background-repeat: no-repeat; */
}

#cic-body>div, #cic-trail>ol {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

#cic-body {
	min-height: 50%;
}

#cic-trail {
	background-color: #f5f5f5;
}

#cic-footer {
	background-color: rgb(158, 196, 205);
	/* 	padding:30px; */
	color: black;
	padding: 10px;
	margin-top: 20px;
}

#cic-footer address {
	background-image: url('../images/senalador_para_footer.png');
	background-repeat: no-repeat;
	background-position: -15px 0px;
	padding-left: 50px;
}

.cic-banners>li {
	list-style: none;
	margin: 13px auto;
	text-align: center;
}

#home-highlight {
	height: 270px;
	margin-bottom: 20px;
}

#home-highlight-img {
	background-image: url('../images/imagen_highlight.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 270px;
	margin-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	left: 0;
	width: 100%;
}

#home-highlight-content {
	opacity: 0.99;
	/* fix for stacking context issue of self and home-highlight-img */
	display: inline-block;
	max-width: 550px;
	margin: 20px auto;
	padding: 10px;
}

#home-highlight-content form {
	background-color: rgba(109, 175, 185, 0.6);
	padding: 8px 15px;
}

#home-highlight-content form>div {
	background-color: white;
	display: block;
	padding: 6px;
	margin-bottom: 5px;
}

#home-highlight-content form input {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	font-size: 15pt;
}

#home-highlight-content .glyphicon-search {
	color: rgba(109, 175, 185, 0.6);
	font-weight: bold;
	font-size: 22pt;
	vertical-align: middle;
}

#home-highlight-content label {
	font-size: 25pt;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

#home-highlight-content form .badge {
	background-color: rgba(191, 191, 191, 0.6);
	color: white;
}

#home-highlight-content .badge {
	background-color: rgb(186, 223, 229);
	color: black;
}

#home-autoarchivo {
	border-top: 2px solid #efefef;
	padding: 25px;
	border-bottom: 2px solid #efefef;
}

#home-autoarchivo a {
	font-size: 25pt;
	text-decoration: none;
}

#cic-sidebar .list-group-item {
	padding: 6px 15px;
}

li.ds-artifact-item {
	list-style: none;
}

li.ds-artifact-item ul {
	margin-left: 20px;
}

li.ds-artifact-item.community {
	font-weight: bold;
}

/* TopBar*/
.navbar-nav>li>a {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.navbar {
	min-height: 40px !important;
	margin-bottom: 0px;
	border-radius: 0px;
}

#navbar-brand-dspace>.navbar-brand {
	height: auto;
	font-size: 18px;
	line-height: 20px;
	padding: 2px;
	margin-left: 0px;
	margin-right: 10px;
}

.navbar-nav>li.link-ba>a {
	padding: 0px !important;
	/* 	background-color: #EE7700; */
}

.navbar-nav>li.link-ba>a>img {
	width: 40px;
	height: 40px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* PLACEHOLDERS */
::-webkit-input-placeholder { /* WebKit browsers */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

/* */
#aspect_artifactbrowser_ItemViewer_div_item-view h3{
	color:#509296;
}

.item-head {
	/* border-bottom: 1px solid #efefef; */
	margin-bottom: 20px;
}

.metadata-label {
	font-weight: bold;
/* 	display: inline-block; */
}

.metadata-values {
/* 	display: inline-block; */
	text-align: justify;
}

.metadata-dcterms_creator__ {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
}

.metadata-dcterms_type_subtype {
	color: #31708f;
	font-size: 95%;
}

.metadata-dc_title {
	font-size: 150%;
	margin-top: 10px;
	font-weight: bold;
}

.metadata-dcterms_abstract {
	background-color: #e7f1f4;
	padding: 0px 10px 10px 20px;
	margin-right: 20px;
}

.metadata-dcterms_abstract .metadata-label {
	background-color: #509296;
	color: white;
	left: -20px;
	position: relative;
	padding: 5px 10px 5px 20px;
	line-height: 2;
}

.metadata-values>span:nth-child(2n-2):BEFORE {
	/* 	background-color: red; */
	content: ' | ';
	font-weight: bold;
}

.metadata-dcterms_abstract>.metadata-values>span {
	display: block;
	padding-bottom: 20px;
}

.metadata-dcterms_abstract>.metadata-values>span:BEFORE {
	content: attr(xml\:lang);
	padding: 3px 3px;
	background-color: #509296;
	right: 8px;
	position: absolute;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 9px;
}

.item-preview a.thumbnail {
	height: 250px;
	width: 200px;
	background: #efefef;
	background-clip: content-box;
	margin: 0 auto;
}

ul.item-file-list{
	margin-top: 20px;
}
.item-file-list a.thumbnail_file > img {
	height: 54px;
	width: 60px;
}

/* a { */
/* 	display: inline-block; */
/* } */
.item-file-list a.thumbnail_file:hover {
	background-image:url(../images/icono_descargar.png) ;
	background-repeat:no-repeat;
}
.item-file-list a.thumbnail_file >  img:hover {
	opacity:0.1;
}


p.intro-text > a {
	font-weight: bold;
}

.discovery-list-results .metadata-cic_lugarDeDesarrollo ,
.discovery-list-results .metadata-dcterms_type_subtype{
/* float: right; */
	background-color: #badfe5;
	color: #509296;
	padding: 5px;
}

.discovery-list-results > li{
	cursor: pointer;
}


.icono-carpeta{
	background-image: url('../images/carpeta.png');
	background-repeat: no-repeat;
	padding: 25px 5px 0px 5px;
	/* height: 23px; */
	background-position-x: center;
}


#aspect_discovery_SimpleSearch_div_search-filters > .ds-div-head:AFTER{
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: middle;
	border-top: 10px solid;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}


#aspect_discovery_SimpleSearch_list_primary-search .ds-form-item:FIRST-CHILD {
	display: none;
}

input#aspect_discovery_SimpleSearch_field_query {
height: 33px;
}

.searchTime{
	display:none;
}