@
namespace xml "http: //www.w3.org /XML/1998/namespace"
	/* Estilo personalizado de CIC-DIGITAL */
	/* Extiende el tema de Mirage */ 
.container {
	/*width: 970px !important;*/
	
}
/* NARANJA #F5802D */
/* NARANJA rgba(245, 128, 45, 0.6); */

ul {
	margin-left: 0px;
}

#welcome-panel h1 {
	color: rgb(186, 223, 229);
	font-weight: bold;
	text-transform: uppercase;
}

#welcome-panel p {
	line-height:1.7;
	text-align:justify;
}


#cic-header {
	/*background-image: url('../images/header_72.png');*/
	padding: 0px;
}


#cic-header  > #logo-cic-digital{
	/*background-image: url('../images/header_72.png');*/
	padding: 34px 0px;
/* 	display: inline-block; */
	background-color: #F5802D; /* Narannnnja */
/* 	margin-right:45px */
	text-align: center;
}


#cic-header  > #banner-cic-digital{
	font-size: 22px;
    vertical-align: middle;
    padding: 50px 30px;
    font-family: "sans-serif";
}
#cic-header  > #banner-cic-digital .small{
  font-size: 70%;
}


#cic-header  > #logo-ba{
	
  text-align: right;
	padding: 45px 0px;
	
}


.datepickerImage{
    background: url("../images/calendar.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.datepickerImage:hover{
    cursor: pointer
}

#embargoMessageOnSelect{
   font-size: 15px;
   font-style: italic;
   color: #f2803a;
   padding-top: 10px;
}

.embargoDate{
  font-weight: bold;
}

.page-header {
	border-bottom: none !important;
	/* 	background-image: url('../images/logo_72.png'); */
	/* 	background-repeat: no-repeat; */
}
body > .container-fluid {
/* 	padding:0px; */
}

#cic-body>div {
	padding-left: 25px;
	padding-right: 25px;
}

#cic-trail>ol.breadcrumb{
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom:0px;
}

.static-page ol{
	list-style-type: decimal;
}

#cic-body {
	min-height: 50%;
}

#cic-trail {
	background-color: #f5f5f5;
}

#cic-footer {
		padding:30px;
	color: black;
  padding: 25px 10px;
  border-top: 1px solid #F5802D;
}

#cic-footer address {
	background-image: url('../images/senalador_para_footer.png');
	background-repeat: no-repeat;
	background-position: 0px;
	padding-left: 60px;
}

#cic-footer > div > a {
  padding-top: 40px;
  display: inline-block;
}


@media(max-width: 768px) { 
	#cic-footer > div > a {
	  padding-top: 0px;
	  padding-bottom: 40px;
	}
}


#home-highlight {
/*	height: 270px;*/
	margin-bottom: 20px;
	
  margin-top: 20px;
}

#home-highlight-img {
	background-image: url('../images/imagen_highlight.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 270px;
	margin-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	left: 0;
	width: 100%;
    opacity: 0.1;
}

#home-highlight-content {
	/*opacity: 0.99;*/
	/* fix for stacking context issue of self and home-highlight-img */
	/*display: inline-block;*/
	/*max-width: 550px;*/
	/*padding: 10px;*/
}

#home-highlight-content form {
	background-color: rgba(245, 128, 45, 1);
	padding: 8px 15px;
}

#home-highlight-content form>div {
	background-color: white;
/* 	display: block; */
	padding: 6px;
	margin-bottom: 5px;
	width:100%;
}

#home-highlight-content form input {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	font-size: 15pt;
    width: 89%;
}


#home-highlight-content .glyphicon-search {
	color: rgba(245, 128, 45, 0.6);
	font-weight: bold;
	font-size: 22pt;
	vertical-align: middle;
	width: 10%;
}

#home-search-form  button[type=submit]{
  position: absolute;
  right: 40px;
  top: 63px;
}





#home-highlight-content label {
	font-size: 25pt;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

#home-highlight-content form .badge {
	background-color: rgba(191, 191, 191, 0.6);
	color: white;
}

#home-highlight-content .badge {
	background-color: rgb(186, 223, 229);
	color: black;
}

#home-highlight-content > #home-browse-bar {
	margin-top:10px;
}
#home-highlight-content > #home-browse-bar a{
	background-color:#4d4d4d;
	font-size:14px;
	text-transform:uppercase;
	color:white;
	border-right:1px solid white;
}


#home-autoarchivo {
	background-color: rgba(245, 128, 45, 1);
	padding: 40px;
	color:white;
}
#home-autoarchivo > a{
	color:white !important;
	text-decoration: none;
	font-size: 25pt;
}

#home-autoarchivo > a > img{
	margin-right:20px;
	margin-bottom:20px;
}

#cic-sidebar .list-group-item {
	padding: 6px 15px;
}

li.ds-artifact-item {
	list-style: none;
}

li.ds-artifact-item ul {
	margin-left: 20px;
}

li.ds-artifact-item.community {
	font-weight: bold;
}

/* TopBar*/

#cic-menu a.navbar-brand{
	font-size: 25px !important;
    padding: 25px;
}


#cic-menu > nav{
	background-color: #4D4D4F;
	background-image: none;
}

.navbar-nav > li > a {
	color: white !important;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar-nav>li>a {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.navbar {
	min-height: 40px !important;
	margin-bottom: 0px;
	border-radius: 0px;
}

#navbar-brand-dspace>.navbar-brand {
	height: auto;
	font-size: 18px;
	line-height: 20px;
	padding: 2px;
	margin-left: 0px;
	margin-right: 10px;
}


.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* PLACEHOLDERS */
::-webkit-input-placeholder { /* WebKit browsers */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #EAEAEA;
	font-style: italic;
	opacity: 1;
}

/* */
#aspect_artifactbrowser_ItemViewer_div_item-view h3{
	color:#509296;
}

.item-head {
	/* border-bottom: 1px solid #efefef; */
	margin-bottom: 20px;
}

.metadata-label {
	font-weight: bold;
/* 	display: inline-block; */
}

.metadata-values {
/* 	display: inline-block; */
	text-align: justify;
}

.metadata-dcterms_creator__ {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
}

.dcterms-creators {
	font-style: italic;
	
}

.metadata-dc_type {
	color: #31708f;
	font-size: 95%;
}

.metadata-dc_title {
	font-size: 150%;
	margin-top: 10px;
	font-weight: bold;
}

.metadata-dcterms_abstract {
	background-color: #e7f1f4;
	padding: 0px 10px 10px 20px;
	margin-right: 20px;
}

.metadata-dcterms_abstract .metadata-label {
	background-color: #509296;
	color: white;
	left: -20px;
	position: relative;
	padding: 5px 10px 5px 20px;
	line-height: 2;
}

.metadata-values>span:nth-child(n+2):BEFORE {
	/* 	background-color: red; */
	content: ' | ';
	font-weight: bold;
}

.metadata-dcterms_abstract>.metadata-values>span {
	display: block;
	padding-bottom: 20px;
}

.metadata-dcterms_abstract>.metadata-values>span:BEFORE {
	content: attr(xml\:lang);
	padding: 3px 3px;
	background-color: #509296;
	right: 8px;
	position: absolute;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 9px;
}

.item-preview a.thumbnail {
	height: 250px;
	width: 200px;
	background: #efefef;
	background-clip: content-box;
	margin: 0 auto;
}

ul.item-file-list{
	margin-top: 20px;
}
.item-file-list a.thumbnail_file > img:FIRST-CHILD {
	height: 54px;
	width: 60px;
}


p.intro-text > a {
	font-weight: bold;
}

.discovery-list-results .metadata-cic_lugarDeDesarrollo {
/* float: right; */
	background-color: #badfe5;
	color: #509296;
	padding: 5px;
}

.discovery-metadata-cic_lugarDeDesarrollo {
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.discovery-metadata-dc_type {
	text-align: right;
}

.discovery-list-results > li{
	cursor: pointer;
}


.icono-carpeta{
	background-image: url('../images/carpeta.png');
	background-repeat: no-repeat;
	padding: 25px 5px 0px 5px;
	/* height: 23px; */
	background-position-x: center;
}


#aspect_discovery_SimpleSearch_div_search-filters > .ds-div-head:AFTER{
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: middle;
	border-top: 10px solid;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}


#aspect_discovery_SimpleSearch_list_primary-search .ds-form-item:FIRST-CHILD {
	display: none;
}

input#aspect_discovery_SimpleSearch_field_query {
height: 33px;
}

.searchTime{
	display:none;
}

#aspect_submission_StepTransformer_field_dc_type,
#aspect_submission_StepTransformer_field_dcterms_rights_embargoPeriod,
#aspect_submission_StepTransformer_field_dcterms_language,
#aspect_submission_StepTransformer_field_dcterms_license,
#aspect_submission_StepTransformer_field_dcterms_subject_area {
	background-image : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0ZXh0IHg9Ijk2JSIgeT0iNzAlIiBmb250LXNpemU9IjIwIj7ilrw8L3RleHQ+PC9zdmc+");
}


.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #F5802D;
  border-left-width: 5px;
  border-radius: 3px;
    margin-top: 30px;
}
