<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Standard DSpace file logger -->
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/dryad/log/dspace.log"/>
		<param name="MaxFileSize" value="1048576"/>
		<param name="MaxBackupIndex" value="500"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c @ %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<appender name="MINTER_FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/dryad/log/dspace-minter.log"/>
		<param name="MaxFileSize" value="1048576"/>
		<param name="MaxBackupIndex" value="500"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c @ %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<appender name="DATAONE_MN_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/opt/dryad/log/dataone-mn.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c @ %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<!-- Mail adapter, recommended for production systems as it
	     sends out email when errors level messages occur -->
	<appender name="EMAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="BufferSize" value="512"/>
		<param name="SMTPHost" value="${mail.server}"/>
		<param name="From" value="${mail.from.address}"/>
		<param name="To" value="${mail.admin}"/>
		<param name="Subject" value="[DSpace] Application message"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%n%n%%F:-5L%n%n-5p%n%n%c%n%n%m%n%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<!-- Console adapters, useful for development but should not be
	     used in production.  Standard IDE logging integration with
	     logging source file and line numbers printed on every statement -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%F:%L] %-5p &lt;%m&gt; %n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%F:%L] %-5p &lt;%m&gt; %n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<!--
      Block passwords from being exposed in Axis logs. (DEBUG exposes passwords in Basic Auth)
    -->
	<logger name="log4j.logger.org.apache.axis.handlers.http.HTTPAuthHandler">
		<level value="info"/>
	</logger>

	<!-- # block services logging except on exceptions -->
	<logger name="org.dspace.kernel">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.services">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.servicemanager">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.providers">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.utils">
		<level value="ERROR"/>
	</logger>

	<logger name="org.dspace.doi">
		<level value="DEBUG"/>
		<appender-ref ref="MINTER_FILE"/>
	</logger>

	<logger name="org.dspace.dataonemn">
		<level value="DEBUG"/>
		<appender-ref ref="DATAONE_MN_FILE"/>
	</logger>


	<!-- Add appenders you want live here -->
	<root>
		<level value="INFO"/>
		<appender-ref ref="FILE"/>
		<!--
		<appender-ref ref="EMAIL" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
		-->
	</root>

</log4j:configuration>
