<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>RDF Data Provider</display-name>

    <context-param>
        <description>
            The location of the DSpace home directory
        </description>
        <param-name>dspace.dir</param-name>
        <param-value>${dspace.dir}</param-value>
    </context-param>

    <filter>
        <filter-name>dspace.request</filter-name>
        <filter-class>org.dspace.utils.servlet.DSpaceWebappServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>dspace.request</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.dspace.app.util.DSpaceContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>rdf-serialization</servlet-name>
        <servlet-class>org.dspace.rdf.providing.DataProviderServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>local-uri-redirection</servlet-name>
        <servlet-class>org.dspace.rdf.providing.LocalURIRedirectionServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>rdf-serialization</servlet-name>
        <url-pattern>/handle/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>local-uri-redirection</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
</web-app>
