<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- Set custom log levels for Spring REST integration tests here -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="org.apache.solr" level="WARN"/>

    <!-- Set this to DEBUG to see the JSON output of each request made in an IT test -->
    <logger name="org.springframework.test.web.servlet.result" level="INFO"/>
</configuration>
