#### Example of configuring IP-based authentication
#### (to use, add org.dspace.authenticate.IPAuthentication to auth stack above)
#
# authentication.ip.GROUPNAME = iprange[, iprange ...]
#
# Note if the Groupname contains blanks you must escape it,
# e.g. Department\ of\ Statistics
#
# Full, partial IPs; network/netmask; network/CIDR
#
#ip.MY_UNIVERSITY = 10.1.2.3, \
#                   13.5, \
#                   11.3.4.5/24, \
#                   12.7.8.9/255.255.128.0