#---------------------------------------------------------------#
#----------------- AUTHORITY CONFIGURATIONS --------------------#
#---------------------------------------------------------------#
# These configs are only used by the authority index            #
#---------------------------------------------------------------#

#####  Authority Control Settings  #####
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
 org.dspace.content.authority.ItemAuthority = AuthorAuthority,\
 org.dspace.content.authority.ItemAuthority = AuthorAuthority,\
 org.dspace.content.authority.ItemAuthority = DataSetAuthority,\
 org.dspace.content.authority.ItemAuthority = JournalAuthority,\
 org.dspace.content.authority.ItemAuthority = OrgUnitAuthority,\
 org.dspace.content.authority.ItemAuthority = ProjectAuthority,\
 org.dspace.content.authority.ItemAuthority = PublicationAuthority,\
 org.dspace.content.authority.EPersonAuthority = EPersonAuthority,\
 org.dspace.content.authority.GroupAuthority = GroupAuthority

cris.ItemAuthority.AuthorAuthority.relationshipType = Person
cris.ItemAuthority.DataSetAuthority.relationshipType = Dataset
cris.ItemAuthority.JournalAuthority.relationshipType = Journal
cris.ItemAuthority.OrgUnitAuthority.relationshipType = OrgUnit
cris.ItemAuthority.ProjectAuthority.relationshipType = Project
cris.ItemAuthority.PublicationAuthority.relationshipType = Publication

choices.plugin.dc.contributor.author = AuthorAuthority
choices.presentation.dc.contributor.author = lookup
authority.controlled.dc.contributor.author = true

choices.plugin.dc.contributor.editor = AuthorAuthority
choices.presentation.dc.contributor.editor = lookup
authority.controlled.dc.contributor.editor = true

choices.plugin.dc.relation.dataset = DataSetAuthority
choices.presentation.dc.relation.dataset = suggest
authority.controlled.dc.relation.dataset = true

choices.plugin.dc.relation.journal = JournalAuthority
choices.presentation.dc.relation.journal = suggest
authority.controlled.dc.relation.journal = true

choices.plugin.dc.relation.orgunit = OrgUnitAuthority
choices.presentation.dc.relation.orgunit = suggest
authority.controlled.dc.relation.orgunit = true

choices.plugin.dc.relation.project = ProjectAuthority
choices.presentation.dc.relation.project = suggest
authority.controlled.dc.relation.project = true

choices.plugin.crispj.coordinator = AuthorAuthority
choices.presentation.crispj.investigator = suggest
authority.controlled.crispj.investigator = true

choices.plugin.crispj.investigator = AuthorAuthority
choices.presentation.crispj.investigator = suggest
authority.controlled.crispj.investigator = true

choices.plugin.crisrp.dept = OrgUnitAuthority
choices.presentation.crisrp.dept = suggest
authority.controlled.crisrp.dept = true

choices.plugin.cris.policy.eperson = EPersonAuthority
choices.presentation.dc.relation.project = suggest
authority.controlled.dc.relation.project = true

choices.plugin.cris.policy.group = GroupAuthority
choices.presentation.cris.policy.group = suggest
authority.controlled.cris.policy.group = true

choices.plugin.cris.owner = EPersonAuthority
choices.presentation.cris.owner = suggest
authority.controlled.cris.owner = true
