#---------------------------------------------------------------#
#----------------- AUTHORITY CONFIGURATIONS --------------------#
#---------------------------------------------------------------#
# These configs are used by the authority framework             #
#---------------------------------------------------------------#

## The DCInputAuthority plugin is automatically configured with every
## value-pairs element in input-forms.xml, namely:
##   common_identifiers, common_types, common_iso_languages
##
## The DSpaceControlledVocabulary plugin is automatically configured
## with every *.xml file in [dspace]/config/controlled-vocabularies,
## and creates a plugin instance for each, using base filename as the name.
## eg: nsi, srsc.
## Each DSpaceControlledVocabulary plugin comes with three configuration options:
# vocabulary.plugin._plugin_.hierarchy.store = <true|false>    # default: true
# vocabulary.plugin._plugin_.hierarchy.suggest = <true|false>  # default: false
# vocabulary.plugin._plugin_.delimiter = "<string>"            # default: "::"
##
## An example using "srsc" can be found later in this section

plugin.selfnamed.org.dspace.content.authority.ChoiceAuthority = \
 org.dspace.content.authority.DCInputAuthority, \
 org.dspace.content.authority.DSpaceControlledVocabulary
 
 ##
## This sets the default lowest confidence level at which a metadata value is included
## in an authority-controlled browse (and search) index.  It is a symbolic
## keyword, one of the following values (listed in descending order):
##   accepted
##   uncertain
##   ambiguous
##   notfound
##   failed
##   rejected
##   novalue
##   unset
## See manual or org.dspace.content.authority.Choices source for descriptions.
authority.minconfidence = ambiguous

# Configuration settings for ORCID based authority control.
# Uncomment the lines below to enable configuration
#choices.plugin.dc.contributor.author = SolrAuthorAuthority
#choices.presentation.dc.contributor.author = authorLookup
#authority.controlled.dc.contributor.author = true
#authority.author.indexer.field.1=dc.contributor.author

##
## This sets the lowest confidence level at which a metadata value is included
## in an authority-controlled browse (and search) index.  It is a symbolic
## keyword from the same set as for the default "authority.minconfidence"
#authority.minconfidence.dc.contributor.author = accepted

## demo: subject code autocomplete, using srsc as authority
## (DSpaceControlledVocabulary plugin must be enabled)
## Warning: when enabling this feature any controlled vocabulary configuration in the input-forms.xml for the metadata field will be overridden.
#vocabulary.plugin.srsc.hierarchy.store = true
#vocabulary.plugin.srsc.hierarchy.suggest = true
#vocabulary.plugin.srsc.delimiter = "::"

# publisher name lookup through SHERPA/RoMEO:
#choices.plugin.dc.publisher = SRPublisher
#choices.presentation.dc.publisher = suggest

## demo: journal title lookup, with ISSN as authority
#choices.plugin.dc.title.alternative = SRJournalTitle
#choices.presentation.dc.title.alternative = suggest
#authority.controlled.dc.title.alternative = true
 
#####  Authority Control Settings  #####
#plugin.named.org.dspace.content.authority.ChoiceAuthority = \
# org.dspace.content.authority.SampleAuthority = Sample, \
# org.dspace.content.authority.SHERPARoMEOPublisher = SRPublisher, \
# org.dspace.content.authority.SHERPARoMEOJournalTitle = SRJournalTitle, \
# org.dspace.content.authority.SolrAuthority = SolrAuthorAuthority
# org.dspace.content.authority.SolrSuggestAuthority = SolrSuggestAuthority, \

#Uncomment to enable ORCID authority control
#plugin.named.org.dspace.content.authority.ChoiceAuthority = \
# org.dspace.content.authority.SolrAuthority = SolrAuthorAuthority

#####  Authority Control Settings  #####
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
 org.dspace.content.authority.OrcidAuthority = AuthorAuthority,\
 org.dspace.content.authority.OrcidAuthority = EditorAuthority,\
 org.dspace.content.authority.OrcidAuthority = AuthorStrictMatchAuthority, \
 org.dspace.content.authority.OrcidAuthority = AuthorCoarseMatchAuthority, \
 org.dspace.content.authority.ItemAuthority = DataSetAuthority,\
 org.dspace.content.authority.ItemAuthority = JournalAuthority,\
 org.dspace.content.authority.ItemAuthority = ProjectAuthority,\
 org.dspace.content.authority.ItemAuthority = PublicationAuthority,\
 org.dspace.content.authority.ItemAuthority = EquipmentAuthority,\
 org.dspace.content.authority.EPersonAuthority = EPersonAuthority,\
 org.dspace.content.authority.GroupAuthority = GroupAuthority


### Login MIUR
#for login MIUR addon please configure the following entry in the list above
#org.dspace.content.authority.ANCEAuthority = JournalAuthority


cris.ItemAuthority.forceInternalName = true

# AuthorStrictMatchAuthority configuration
cris.ItemAuthority.AuthorStrictMatchAuthority.forceInternalName = false

# AuthorCoarseMatchAuthority configuration
cris.ItemAuthority.AuthorCoarseMatchAuthority.forceInternalName = false

cris.ItemAuthority.DataSetAuthority.entityType = Product
cris.ItemAuthority.JournalAuthority.entityType = Journal
cris.ItemAuthority.OrgUnitAuthority.entityType = OrgUnit
cris.ItemAuthority.ProjectAuthority.entityType = Project
cris.ItemAuthority.FundingAuthority.entityType = Funding
cris.ItemAuthority.PublicationAuthority.entityType = Publication
cris.ItemAuthority.EquipmentAuthority.entityType = Equipment


#define source for each authority
cris.ItemAuthority.AuthorAuthority.source = orcid
cris.ItemAuthority.EditorAuthority.source = orcid
cris.ItemAuthority.AuthorStrictMatchAuthority.source = orcid
cris.ItemAuthority.AuthorCoarseMatchAuthority.source = orcid
cris.ItemAuthority.OrgUnitAuthority.source = ror
cris.ItemAuthority.FundingAuthority.source = openaire
cris.ItemAuthority.ZDBAuthority.source = zdb
cris.ItemAuthority.SherpaAuthority.source = sherpa

## OrcidAuthority Extras configuration
#

cris.OrcidAuthority.EditorAuthority.institution.key = oairecerif_editor_affiliation
cris.OrcidAuthority.AuthorAuthority.institution.key = oairecerif_author_affiliation

#cris.OrcidAuthority.AuthorAuthority.institution.display = true
#cris.OrcidAuthority.AuthorAuthority.institution.as-data = true
#
#cris.OrcidAuthority.AuthorAuthority.orcid-id.key = person_identifier_orcid
#cris.OrcidAuthority.AuthorAuthority.orcid-id.display = true
#cris.OrcidAuthority.AuthorAuthority.orcid-id.as-data = true

# ROR Authority extra configuration
# hide the country code as we show the country name.
# Code and name are both available as data
cris.RorOrgUnitAuthority.country.display = false

cris.SherpaAuthority.entityType = Journal
cris.SherpaAuthority.local-item-choices-enabled = true

ItemAuthority.reciprocalMetadata.Publication.dc.relation.product = dc.relation.publication
ItemAuthority.reciprocalMetadata.Product.dc.relation.publication = dc.relation.product

choices.plugin.dc.contributor.author = AuthorAuthority
choices.presentation.dc.contributor.author = suggest
authority.controlled.dc.contributor.author = true

choices.plugin.oairecerif.author.affiliation = OrgUnitAuthority
choices.presentation.oairecerif.author.affiliation = suggest
authority.controlled.oairecerif.author.affiliation = true

choices.plugin.dc.contributor.editor = EditorAuthority
choices.presentation.dc.contributor.editor = suggest
authority.controlled.dc.contributor.editor = true

choices.plugin.oairecerif.editor.affiliation = OrgUnitAuthority
choices.presentation.oairecerif.editor.affiliation = suggest
authority.controlled.oairecerif.editor.affiliation = true

choices.plugin.dc.relation.product = DataSetAuthority
choices.presentation.dc.relation.product = suggest
authority.controlled.dc.relation.product = true

choices.plugin.dc.relation.publication = PublicationAuthority
choices.presentation.dc.relation.publication = suggest
authority.controlled.dc.relation.publication = true

choices.plugin.dc.relation.journal = SherpaAuthority
choices.presentation.dc.relation.journal = suggest
authority.controlled.dc.relation.journal = true

choices.plugin.dc.relation.project = ProjectAuthority
choices.presentation.dc.relation.project = suggest
authority.controlled.dc.relation.project = true

choices.plugin.dc.publisher = OrgUnitAuthority
choices.presentation.dc.publisher = suggest
authority.controlled.dc.publisher = true

choices.plugin.dc.relation.funding = FundingAuthority
choices.presentation.dc.relation.funding = suggest
# the externalsource provider identifier
choises.externalsource.dc.relation.funding = fundingAuthority
authority.controlled.dc.relation.funding = true

choices.plugin.dc.description.sponsorship = OrgUnitAuthority
choices.presentation.dc.description.sponsorship = suggest
authority.controlled.dc.description.sponsorship = true

### authorities required by Projects
choices.plugin.crispj.coordinator = OrgUnitAuthority
choices.presentation.crispj.coordinator = suggest
authority.controlled.crispj.coordinator = true

choices.plugin.crispj.organization = OrgUnitAuthority
choices.presentation.crispj.organization = suggest
authority.controlled.crispj.organization = true

choices.plugin.crispj.partnerou = OrgUnitAuthority
choices.presentation.crispj.partnerou = suggest
authority.controlled.crispj.partnerou = true

choices.plugin.crispj.investigator = AuthorAuthority
choices.presentation.crispj.investigator = suggest
authority.controlled.crispj.investigator = true

choices.plugin.crispj.coinvestigators = AuthorAuthority
choices.presentation.crispj.coinvestigators = suggest
authority.controlled.crispj.coinvestigators = true

choices.plugin.dc.relation.equipment = EquipmentAuthority
choices.presentation.dc.relation.equipment = suggest
authority.controlled.dc.relation.equipment = true

### authorities required by Person
choices.plugin.person.affiliation.name = OrgUnitAuthority
choices.presentation.person.affiliation.name = suggest
authority.controlled.person.affiliation.name = true

choices.plugin.oairecerif.person.affiliation = OrgUnitAuthority
choices.presentation.oairecerif.person.affiliation = suggest
authority.controlled.oairecerif.person.affiliation = true

#choices.plugin.crisrp.workgroup = OrgUnitAuthority
#choices.presentation.crisrp.workgroup = suggest
#authority.controlled.crisrp.workgroup = true

choices.plugin.crisrp.qualification = OrgUnitAuthority
choices.presentation.crisrp.qualification = suggest
authority.controlled.crisrp.qualification = true

choices.plugin.crisrp.education = OrgUnitAuthority
choices.presentation.crisrp.education = suggest
authority.controlled.crisrp.education = true

### authorities required by OrgUnit
choices.plugin.organization.parentOrganization = OrgUnitAuthority
choices.presentation.organization.parentOrganization = suggest
authority.controlled.organization.parentOrganization = true

choices.plugin.crisou.director= AuthorAuthority
choices.presentation.crisou.director = suggest
authority.controlled.crisou.director = true

### authorities required by Funding
choices.plugin.oairecerif.funder = OrgUnitAuthority
choices.presentation.oairecerif.funder = suggest
authority.controlled.oairecerif.funder = true

choices.plugin.oairecerif.fundingParent = FundingAuthority
choices.presentation.oairecerif.fundingParent = suggest
authority.controlled.oairecerif.fundingParent = true

choices.plugin.crisfund.investigators = AuthorAuthority
choices.presentation.crisfund.investigators = suggest
authority.controlled.crisfund.investigators = true

choices.plugin.crisfund.coinvestigators = AuthorAuthority
choices.presentation.crisfund.coinvestigators = suggest
authority.controlled.crisfund.coinvestigators = true

choices.plugin.crisfund.leadorganizations = OrgUnitAuthority
choices.presentation.crisfund.leadorganizations = suggest
authority.controlled.crisfund.leadorganizations = true

choices.plugin.crisfund.leadcoorganizations = OrgUnitAuthority
choices.presentation.crisfund.leadcoorganizations = suggest
authority.controlled.crisfund.leadcoorganizations = true

### authorities required by cris features
choices.plugin.cris.policy.eperson = EPersonAuthority
choices.presentation.cris.policy.eperson = suggest
authority.controlled.cris.policy.eperson = true

choices.plugin.cris.policy.group = GroupAuthority
choices.presentation.cris.policy.group = suggest
authority.controlled.cris.policy.group = true

choices.plugin.dspace.object.owner = EPersonAuthority
choices.presentation.dspace.object.owner = suggest
authority.controlled.dspace.object.owner = true

choices.plugin.dc.identifier.issn = ZDBAuthority
choices.presentation.dc.identifier.issn = suggest
authority.controlled.dc.identifier.issn = true

authority.controlled.dc.type = true
choices.plugin.dc.type = ControlledVocabularyAuthority

# DSpace-CRIS stores by default the authority of controlled vocabularies
vocabulary.plugin.authority.store = true
authority.controlled.cris.virtual.department = true

authority.controlled.oairecerif.identifier.url = true

###Example to use SolrSuggestAuthority
# choices.plugin.dc.subject = SolrSuggestAuthority
# choices.presentation.dc.subject = suggest
# authority.controlled.dc.subject = true
#Remind that SolrSuggestAuthority append _ac to the name of facet
# SolrSuggestAuthority.dc_subject.facetname = subject


