#---------------------------------------------------------------#
#---------------OIDC AUTHENTICATION CONFIGURATIONS--------------#
#---------------------------------------------------------------#
#        Configuration properties used by the CAS OIDC          #
#          Authentication plugin, when it is enabled.           #
#---------------------------------------------------------------#

# The Realm on the OIDC server we should use for authentication 
# Jose - the documentation says this is optional.
authentication-oidc.auth-server-realm = 

# The Base URL of all OIDC server endpoints
authentication-oidc.auth-server-url = https://weblogin.lib.umich.edu

# The URL of the Token endpoint
authentication-oidc.token-endpoint = https://weblogin.lib.umich.edu/token

# The URL of the Authorize endpoint
authentication-oidc.authorize-endpoint = https://weblogin.lib.umich.edu/auth

# The URL of the Introspect endpoint
authentication-oidc.user-info-endpoint = https://weblogin.lib.umich.edu/userinfo

# The registered client id
authentication-oidc.client-id = dspace-7-testing

# The registered client secret
authentication-oidc.client-secret = 7nzPdPo7nwFnuCYPFk7gHgML7

# The redirect url
#This is how it worked on my local machine Jose April 17:
authentication-oidc.redirect-url = http://localhost:8080/server/api/authn/oidc
#authentication-oidc.redirect-url= https://backend.workshop.deepblue-documents.lib.umich.edu/server/api/authn/oidc

# can enter email, but get 404 and this url http://localhost:8080/auth/weblogin?code=bnjbrtnsqftsygjg5lonmx225&state=
# Did not see LOGIN info on the log file.
#authentication-oidc.redirect-url = http://localhost:8080/auth/weblogin

# The scopes to request
authentication-oidc.scopes = openid email profile



# Specify if the user can self register using OIDC (true|false). If not specified, true is assumed
# This should match the configuration of the OIDC server you are using. The default setting for
# Keycloak is true. Do set it to false if your OIDC server disallows self-registration. Otherwise,
# leave this set to true.
authentication-oidc.can-self-register = true
#authentication-oidc.can-self-register = false

#Specify the attribute present in the user info json related to the user's email
authentication-oidc.user-info.email = email

#Specify the attribute present in the user info json related to the user's first name
authentication-oidc.user-info.first-name = given_name

#Specify the attribute present in the user info json related to the user's last name
authentication-oidc.user-info.last-name = family_name
