#---------------------------------------------------------------#
#------------ADMIN CONTROL PANEL CONFIGURATIONS-----------------#
#---------------------------------------------------------------#

### Control Panel Tabs
controlpanel.tabs = Java Information, \
					Configuration, \
					SystemWide Alerts, \
					Programs, \
					PID, \
					Shibboleth, \
					Backup, \
					IRODs Replication, \
					Cron Jobs, \
					OAIPMH Validators, \
					Harvesting, \
					Release Notes, \
					Statistics, \
					Licenses, \
					Signed Licenses, \
					Current Activity, \
					Checks, \
					Verify Logging, \
					Dspace Log(s), \
					User Logins, \
					Shib Raw Logins, \
					Unpublished Items, \
					Bitstream items, \
					Specific Metadata, \
					Metadata Quality, \
					Embargoed items, \
					Oldest users


plugin.named.cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelTab = \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelJavaTab = Java Information, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelConfigurationTab = Configuration, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelAlertsTab = SystemWide Alerts, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelProgramsTab = Programs, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelPIDTab = PID, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelShibbolethTab = Shibboleth, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelBackupTab = Backup, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelReplicationTab = IRODs Replication, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelCronJobTab = Cron Jobs, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelOAITab = OAIPMH Validators, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelHarvestingTab = Harvesting, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelNotesTab = Release Notes, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelStatisticsTab = Statistics, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelLicenseTab = Licenses, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelSignedLicenses = Signed Licenses, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelCurrentActivityTab = Current Activity, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.MainControlCheck = Checks, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.checks.IsLoggingControlCheck = Verify Logging, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.checks.LoggingControlCheck = Dspace Log(s), \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.checks.LoginControlCheck = User Logins, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.checks.ShibRawLoginControlCheck = Shib Raw Logins, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelUnpublishedItemsTab = Unpublished Items, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelBitstreams = Bitstream items, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelMetadata = Specific Metadata, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelMetadataQA = Metadata Quality, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelEmbargo = Embargoed items, \
		cz.cuni.mff.ufal.dspace.app.xmlui.aspect.administrative.ControlPanelLastLogin = Oldest users 

		
controlpanel.checks = 	Checks, \
						Verify Logging, \
						Dspace Log(s), \
						User Logins, \
						Shib Raw Logins
