#---------------------------------------------------------------#
#--------------CURATION SYSTEM CONFIGURATIONS-------------------#
#---------------------------------------------------------------#
# Configuration properties used solely by the Curation system   #
#---------------------------------------------------------------#

### Task Class implementations

# NOTE: Other configurations can append to this list of default tasks by simply
# adding their own additional values of "plugin.named.org.dspace.curate.CurationTask"
plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.NoOpCurationTask = noop
plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.ProfileFormats = profileformats
plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.RequiredMetadata = requiredmetadata
#plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.ClamScan = vscan
#plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.MicrosoftTranslator = translate
plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.MetadataValueLinkChecker = checklinks
plugin.named.org.dspace.curate.CurationTask = org.dspace.ctask.general.RegisterDOI = registerdoi
# add new tasks here (or in additional config files)

## task queue implementation
plugin.single.org.dspace.curate.TaskQueue = org.dspace.curate.FileTaskQueue

# directory location of curation task queues
curate.taskqueue.dir = ${dspace.dir}/ctqueues

# (optional) directory location of scripted (non-java) tasks
# curate.script.dir = ${dspace.dir}/ctscripts
