###
# Duplicate detection settings
##

# Enable this feature. Default: false
#duplicate.enable = true

##
# Normalisation rules. If these are changed, a full index-discovery re-index should be performed to force
# stored signatures to be updated.
##
# Should the signature be normalised for case? Default: true
duplicate.signature.normalise.lowercase = true
# Should the signature be normalised for whitespace? Default: true
# (highly recommended - if this is *not* used, some other placeholder needs to be used to force the value
# to be treated as a single term by Lucene)
duplicate.signature.normalise.whitespace = true

# Levenshtein edit distance. Default:0 (eg. Test will match Txst but not Txxt)
# Valid distances are 0, 1, 2 as per Solr documentation. Note that this distance is applied *after* normalisation
# rules above, so capitalisation and whitespace will not count as 'edits' if you have the above rules enabled.
duplicate.signature.distance = 0
# Solr field used for storing the item signature
duplicate.signature.field = item_signature

## Metadata to populate in the potential duplicate
duplicate.preview.metadata.field = dc.title
duplicate.preview.metadata.field = dc.date.issued
duplicate.preview.metadata.field = dc.type
duplicate.preview.metadata.field = dspace.entity.type