#---------------------------------------------------------------#
#---------ELASTIC SEARCH STATISTICS CONFIGURATIONS--------------#
#---------------------------------------------------------------#
# Configuration properties used solely by the Elastic Search    #
# Statistics Engine. By default, DSpace uses a Solr-based       #
# Statistics Engine (see solr-statistics.cfg).                  #
# See also: usage-statistics.cfg                                #
#---------------------------------------------------------------#
# Elastic Search Engine for UsageEvent Statistics
#elastic-search-statistics.clusterName = dspacestatslogging
#elastic-search-statistics.indexName = dspaceindex
#elastic-search-statistics.indexType = stats

## Elastic Search can connect via TransportClient, for external ES service.
#elastic-search-statistics.address = 127.0.0.1
#elastic-search-statistics.port = 9300
