#------------------------------------------------------------------#
#-------------------- GROBID CONFIGURATIONS -----------------------#
#------------------------------------------------------------------#
# These configs are used by the GROBID metadata extraction feature #
#------------------------------------------------------------------#

# Base URL of GROBID service. If missing, this feature will
# be disabled.
grobid.service.url =

# Keepalive time for open connections (milliseconds)
# Default: 5000
#grobid.client.keepAlive = 5000

# Time-to-live (seconds) for HTTP connections
# Default: 600
#grobid.client.timeToLive = 600

# Max total connections in the GROBID HTTP client pool
# Default: 20
#grobid.client.maxTotalConnections = 20

# Maximum open connections per service instance
# Default: 15
#grobid.client.maxPerRoute = 15
