#### IIIF CONFIGURATION ####
# To enable the IIIF service, set to true. Note that to use IIIF you must also provide
# an image server.
iiif.enabled = false

# Public base url of a iiif server able to serve DSpace images. The bitstream
# uuid is appended to this URL
iiif.image.server = http://localhost:8182/iiif/2/

# Base URL of the search service used to support the (experimental) IIIF Search
# capability. The actual path will depend on how search is being supported.
# This example uses the solr plugin https://dbmdz.github.io/solr-ocrhighlighting/
# iiif.search.url = ${solr.server}/word_highlighting

# The search plugin used to support (experimental) IIIF Search.
# This is the class used with https://dbmdz.github.io/solr-ocrhighlighting/
# It is currently the only supported option.
# iiif.search.plugin = org.dspace.app.rest.iiif.service.WordHighlightSolrSearch

# Sets the viewing hint. Possible values: "paged" or "individuals".
# Typically "paged" is preferred for multi-age documents. Use "individuals"
# if you plan to implement the search api.
iiif.document.viewing.hint = individuals

# Optional image to associate with manifests. A small image that represents
# an individual or organization associated with the resource it is attached to.
# iiif.logo.image = https://image/url/i.png

# Only these origins (client URLs) can successfully communicate with the IIIF API. This
# allows XHR requests from remote IIIF clients. Defaults to ${dspace.ui.url} if unspecified
# (as the embedded IIIF client must have access to the API). Multiple allowed origin URLs may
# be comma separated. Wildcard value (*) is NOT SUPPORTED. # (Requires reboot of servlet
# container, e.g. Tomcat, to reload)
iiif.cors.allowed-origins = ${dspace.ui.url}

# Whether or not to allow credentials (e.g. cookies) sent by the client/browser in CORS
# requests (in "Access-Control-Allow-Credentials" header).
# For the DSpace iiif endpoint, we default this to "false" .
# (Requires reboot of servlet container, e.g. Tomcat, to reload)
iiif.cors.allow-credentials = false

# metadata to include at the resource level in the manifest
# labels are set in the Messages.properties i18n file
iiif.metadata.item = dc.title
iiif.metadata.item = dc.date.issued
iiif.metadata.item = dc.contributor.*
iiif.metadata.item = dc.description.abstract

# metadata to be added to the canvas from the bitstream, labels are set in 
# the Messages.properties i18n file. It is possible to include the technical
# information stored in the bitstream format registry and in the checksum using the placeholder
# @format@ to include the short description of the bitstream format as entered by the user or 
# stored in the registry
# @mimemtype@ to include the mimetype associated with the bitstream format in the registry
# @checksum@ to include the computed checksum for the file and the used algorithm
# @bytes@ to include the size of the images in bytes
iiif.metadata.bitstream = dc.title
iiif.metadata.bitstream = dc.description
iiif.metadata.bitstream = @format@
iiif.metadata.bitstream = @mimetype@
iiif.metadata.bitstream = iiif.image.width
iiif.metadata.bitstream = iiif.image.height
iiif.metadata.bitstream = @bytes@
iiif.metadata.bitstream = @checksum@

# the metadata to use to provide machine readable information about the resource right usage
iiif.license.uri = dc.rights.uri

# static text to be used as attribution in the iiif manifests
iiif.attribution = ${dspace.name}

# URL for logo. If defined, the logo will be added to the manifest.
iiif.logo.image = ${dspace.ui.url}/assets/images/dspace-logo.svg

# (optional) one of individuals, paged or continuous. Can be overridden at the item level via
# the iiif.view.hint metadata 
iiif.document.viewing.hint = individuals

# default value for the canvas size. Can be overridden at the item, bundle or bitstream level 
# via the iiif.image.width e iiif.image.height metadata
# iiif.canvas.default-width = 1200
# iiif.canvas.default-height = 1600
