# Only these origins (client URLs) can successfully communicate with the IIIF API. This
# allows XHR requests from remote IIIF clients. Defaults to ${dspace.ui.url} if unspecified
# (as the embedded IIIF client must have access to the API). Multiple allowed origin URLs may
# be comma separated. Wildcard value (*) is NOT SUPPORTED. # (Requires reboot of servlet
# container, e.g. Tomcat, to reload)
iiif.cors.allowed-origins = ${dspace.ui.url}

# Whether or not to allow credentials (e.g. cookies) sent by the client/browser in CORS
# requests (in "Access-Control-Allow-Credentials" header).
# For the DSpace iiif endpoint, we default this to "false" .
# (Requires reboot of servlet container, e.g. Tomcat, to reload)
iiif.cors.allow-credentials = false






