#---------------------------------------------------------------#
#---------------ITEM AUTHORITY CONFIGURATIONS-------------------#
#---------------------------------------------------------------#
# These configs are only used by the Item authority index       #
#---------------------------------------------------------------#

#####  Authority Control Settings  #####
plugin.named.org.dspace.content.authority.ChoiceAuthority = \
 org.dspace.content.authority.ItemAuthority = AuthorAuthority,\
 org.dspace.content.authority.ItemAuthority = DataSetAuthority,\
 org.dspace.content.authority.ItemAuthority = JournalAuthority,\
 org.dspace.content.authority.ItemAuthority = OrgUnitAuthority,\
 org.dspace.content.authority.ItemAuthority = ProjectAuthority,\
 org.dspace.content.authority.ItemAuthority = PublicationAuthority

choices.plugin.dc.contributor.author = AuthorAuthority
choices.presentation.dc.contributor.author = lookup
authority.controlled.dc.contributor.author = true
cris.ItemAuthority.dc_contributor_author.relationshipType = person

choices.plugin.dc.contributor.editor = AuthorAuthority
choices.presentation.dc.contributor.editor = lookup
authority.controlled.dc.contributor.editor = true
cris.ItemAuthority.dc_contributor_editor.relationshipType = person

choices.plugin.dc.relation.dataset = DataSetAuthority
choices.presentation.dc.relation.dataset = suggest
authority.controlled.dc.relation.dataset = true
cris.ItemAuthority.dc_relation_dataset.relationshipType = dataset

choices.plugin.dc.relation.journal = JournalAuthority
choices.presentation.dc.relation.journal = suggest
authority.controlled.dc.relation.journal = true
cris.ItemAuthority.dc_relation_journal.relationshipType = journal

choices.plugin.dc.relation.orgunit = OrgUnitAuthority
choices.presentation.dc.relation.orgunit = suggest
authority.controlled.dc.relation.orgunit = true
cris.ItemAuthority.dc_relation_orgunit.relationshipType = orgunit

choices.plugin.dc.relation.project = ProjectAuthority
choices.presentation.dc.relation.project = suggest
authority.controlled.dc.relation.project = true
cris.ItemAuthority.dc_relation_project.relationshipType = project
 
 