#---------------------------------------------------------------#
#---------------COAR NOTIFY LDN CONFIGURATION-------------------#
#---------------------------------------------------------------#
#     Configuration properties used  by Coar Notify and ldn     #
#---------------------------------------------------------------#


# check on the IP number on incoming LDN Messages against the IP Range configured
# on the Notify Service known and found as the message sender
# ldn.ip-range.enabled = false

#### LDN CONFIGURATION ####
# To enable the LDN service, set to true.
ldn.enabled = false

#LDN message inbox endpoint
ldn.notify.inbox = ${dspace.server.url}/ldn/inbox

# List the external services IDs for review/endorsement
# These IDs needs to be configured in the input-form.xml as well
# These IDs must contain only the hostname and the resource path 
# Do not include any protocol
# Each IDs must match with the ID returned by the external service 
# in the JSON-LD Actor field
#service.service-id.ldn = 

# LDN Queue extractor elaborates LDN Message entities of the queue
ldn.queue.extractor.cron = 0 0/5 * * * ?

# LDN Queue timeout checks LDN Message Entities relation with the queue
ldn.queue.timeout.checker.cron = 0 0 */1 * * ? 

# LDN Queue extractor elaborates LDN Message entities with max_attempts < than ldn.processor.max.attempts
ldn.processor.max.attempts = 5

# LDN Queue extractor sets LDN Message Entity queue_timeout property every time it tryies a new elaboration
# of the message. LDN Message with a future queue_timeout is not elaborated. This property is used to calculateas:
# a new timeout, such as: new_timeout = now + ldn.processor.queue.msg.timeout (in minutes)
ldn.processor.queue.msg.timeout = 60

# Blocks the storage of incoming LDN messages with unknown Notify Service (origin)
ldn.notify.inbox.block-untrusted = true

# Blocks the storage of incoming LDN messages with known Notify Service (origin)
# and out-of-range IP
ldn.notify.inbox.block-untrusted-ip = true


# EMAIL CONFIGURATION

ldn.notification.email = ${mail.admin}
