#### LDN CONFIGURATION ####
# To enable the LDN service, set to true.
ldn.enabled = true


ldn.notify.local-inbox-endpoint = ${dspace.server.url}/ldn/inbox


# List the external services IDs for review/endorsement
# These IDs needs to be configured in the input-form.xml as well
#
# These IDs must contain only the hostname and the resource path 
# Do not include any protocol
#
# Each IDs must match with the ID returned by the external service 
# in the JSON-LD Actor field

service.service-id.ldn = dev-hdc3b.lib.harvard.edu/api/inbox

service.dev-hdc3b.lib.harvard.edu/api/inbox.url = http://dev-hdc3b.lib.harvard.edu

service.dev-hdc3b.lib.harvard.edu/api/inbox.inbox.url = http://dev-hdc3b.lib.harvard.edu/api/inbox

service.dev-hdc3b.lib.harvard.edu/api/inbox.resolver.url = http://dev-hdc3b.lib.harvard.edu/dataset.xhtml?persistentId=

service.dev-hdc3b.lib.harvard.edu/api/inbox.name = Dataverse Sandbox

service.dev-hdc3b.lib.harvard.edu/api/inbox.key = 8df0c72a-56b5-44ef-b1c0-b4dbcbcffcd4

service.dev-hdc3b.lib.harvard.edu/api/inbox.key.header = X-Dataverse-key

ldn.queue.extractor.cron = 0 0/1 * 1/1 * ?

ldn.queue.timeout.checker.cron = 0 0/1 * 1/1 * ? 

ldn.processor.max.attempts = 5

ldn.processor.queue.msg.timeout = 60
