#---------------------------------------------------------------#
#----------------- METADATA SECURITY CONFIGURATIONS --------------------#
#---------------------------------------------------------------# #
#---------------------------------------------------------------#

#####  Metadata Security Control Settings  #####


#default rule for metadata security if "metadatavalue.visibility.<EntityType>.settings" is not defined
metadatavalue.visibility.settings = [0]
#default rule for metadata security based on entity type if "metadatavalue.visibility.<EntityType>.<MetadataValue>.settings" is not defined
#this is  the rule for all metadata of the <Entity> where entity is  “Person”
#metadatavalue.visibility.Person.settings = [0 1]
#security value for  a specific metadata  based on entity type and metadata value
metadatavalue.visibility.Person.person.birthDate.settings = [0 1]
metadatavalue.visibility.Person.person.email.settings = [0 1]
