rest.endpoint=https://www.ebi.ac.uk/europepmc/webservices/rest/search
query.param.default=${pubmedeurope.query.param.default}
# imp_record -m configuration
#metadata.template = dc.title,dc.description.abstract,dc.relation.ispartof,dc.relation.ispartofbook,dc.relation.volume,dc.relation.issue,dc.contributor.author,dc.contributor.other,dc.subject,dc.subject.meshqualifier,dc.subject.mesh,dc.identifier.pubmed,dc.identifier.pmc,dc.identifier.isbn,dc.identifier.eissn,dc.identifier.issn,dc.identifier.doi,dc.type,dc.date.issued,dc.language.iso,dc.publisher
