# These configs are used by dspace-rdf and the buildin Linked Data export (rdfizer)

# Configure if content negotiation should be enabled
rdf.contentNegotiation.enable = false

# Set the url of the dspace-rdf module here. This is necessary to use content
# negotiation
rdf.contextPath = ${dspace.baseUrl}/rdf



# Address of the public SPARQL endpoint
# DSpace will link to this address and use it if rdf.storage.sparql.endpoint isn't set.
rdf.public.sparql.endpoint = http://localhost/fuseki/dspace/sparql



# Address of the endpoint for the SPARQL 1.1 Graph Store HTTP Protocoll
# This address is used to store data in the triple store.
rdf.storage.graphstore.endpoint = http://localhost:3030/dspace/data
# If the SPARQL 1.1. Graph Store HTTP Protocol endpoint requires
# authentication, please set this property to yes.
rdf.storage.graphstore.authentication = no
# please set the authentication credentials
#rdf.storage.graphstore.login = dspace
#rdf.storage.graphstore.password = ecapsd
# Address DSpace should use to query the SPARQL endpoint, e.g. the 
# RDFStorageImpl uses this address to determine a list of all stored
# graphs. The SPARQL endpoint can be read-only, all commands which change
# data will be performed using the SPARQL 1.1 Graph Store HTTP Protocoll.
# If this is empty the property "rdf.public.sparql.endpoint" will be used instead.
rdf.storage.sparql.endpoint =
# If the internal SPARQL endpoint requires authentication, please set
# this property to yes.
rdf.storage.sparql.authentication = no
# please set the authentication credentials
#rdf.storage.sparql.login = dspace
#rdf.storage.sparql.password = ecapsd

# Which type of DSpaceObjects should be converted? Currently SITE, COMMUNITY
# COLLECTION and ITEM are supported.
rdf.converter.DSOtypes = SITE, COMMUNITY, COLLECTION, ITEM


#############################
### PLUGINS CONFIGURATION ###
#############################

## StaticDSOConverterPlugin ##
# The following properties define files to read static data from.
rdf.constant.data.GENERAL = ${dspace.dir}/config/modules/rdf/constant-data-general.ttl
rdf.constant.data.COLLECTION = ${dspace.dir}/config/modules/rdf/constant-data-collection.ttl
rdf.constant.data.COMMUNITY = ${dspace.dir}/config/modules/rdf/constant-data-community.ttl
rdf.constant.data.ITEM = ${dspace.dir}/config/modules/rdf/constant-data-item.ttl
rdf.constant.data.SITE = ${dspace.dir}/config/modules/rdf/constant-data-site.ttl

## MetadataConverterPlugin ##
rdf.metadata.mappings = ${dspace.dir}/config/modules/rdf/metadata-rdf-mapping.ttl
rdf.metadata.schema = file://${dspace.dir}/config/modules/rdf/metadata-rdf-schema.ttl
rdf.metadata.prefixes = ${dspace.dir}/config/modules/rdf/metadata-prefixes.ttl

## SimpleDSORelationsConverterPlugin ##
rdf.simplerelations.prefixes = ${dspace.dir}/config/modules/rdf/simple-relations-prefixes.ttl
rdf.simplerelations.site2community = http://purl.org/dc/terms/hasPart, http://digital-repositories.org/ontologies/dspace/0.1.0#hasCommunity
rdf.simplerelations.community2site = http://purl.org/dc/terms/isPartOf, http://digital-repositories.org/ontologies/dspace/0.1.0#isPartOfRepository
rdf.simplerelations.community2subcommunity = http://purl.org/dc/terms/hasPart, http://digital-repositories.org/ontologies/dspace/0.1.0#hasSubcommunity
rdf.simplerelations.subcommunity2community = http://purl.org/dc/terms/isPartOf, http://digital-repositories.org/ontologies/dspace/0.1.0#isSubcommunityOf
rdf.simplerelations.community2collection = http://purl.org/dc/terms/hasPart, \
                       http://digital-repositories.org/ontologies/dspace/0.1.0#hasCollection
rdf.simplerelations.collection2community = http://purl.org/dc/terms/isPartOf, \
                       http://digital-repositories.org/ontologies/dspace/0.1.0#isPartOfCommunity
rdf.simplerelations.collection2item = http://purl.org/dc/terms/hasPart,\
                  http://digital-repositories.org/ontologies/dspace/0.1.0#hasItem
rdf.simplerelations.item2collection = http://purl.org/dc/terms/isPartOf,\
                  http://digital-repositories.org/ontologies/dspace/0.1.0#isPartOfCollection
rdf.simplerelations.item2bitstream = http://purl.org/dc/terms/hasPart,\
                 http://digital-repositories.org/ontologies/dspace/0.1.0#hasBitstream
