scopus.query.param.default=${scopus.query.param.default}
scopus.query.param.scratch=${scopus.query.param.scratch} 
# imp_record -m configuration
#metadata.template = dc.title,dc.descritption.abstract,dc.relation.ispartof,dc.relation.ispartofbook,dc.relation.volume,dc.relation.issue,dc.contributor.author,dc.contributor.other,dc.subject,dc.subject.meshqualifier,dc.subject.mesh,dc.identifier.pubmed,dc.identifier.pmc,dc.identifier.isbn,dc.identifier.eissn,dc.identifier.issn,dc.identifier.doi,dc.type,dc.date.issued,dc.language.iso,dc.publisher

# Article
#scopus.type.ar.collectionid=#123456789
# Abstract Report
#scopus.type.ab.collectionid=#123456789
# Article in Press
#scopus.type.ip.collectionid=#123456789
# Book
#scopus.type.bk.collectionid=#123456789
# Business Article
#scopus.type.bz.collectionid=#123456789
# Book Chapter
#scopus.type.ch.collectionid=#123456789
# Conference Paper 
#scopus.type.cp.collectionid=#123456789
# Conference Review
#scopus.type.cr.collectionid=#123456789
# Editorial
#scopus.type.ed.collectionid=#123456789
# Erratum
#scopus.type.er.collectionid=#123456789
# Letter
#scopus.type.le.collectionid=#123456789
# Note
#scopus.type.no.collectionid=#123456789
# Press Release
#scopus.type.pr.collectionid=#123456789
# Review
#scopus.type.re.collectionid=#123456789
# ShortSurvey
#scopus.type.sh.collectionid=#123456789