# URI para feed de noticias
feed= https://blog.sedici.unlp.edu.ar/feed/

# Id de la coleccion de autoarchivo
autoArchiveCollectionHandle=10915/50

# Comunidades a desplegar
xmlui.community-list.expandable-communities=|1|51|1038|

# Comunidades a mostrar en el home
xmlui.community-list.home-link.tesis=handle/10915/1
xmlui.community-list.home-link.revistas=handle/10915/51
xmlui.community-list.home-link.eventos=handle/10915/1038
xmlui.community-list.home-link.dataset=discover?filtertype=type&filter_relational_operator=equals&filter=Conjunto+de+datos&sort_by=dc.date.accessioned_dt&order=desc
xmlui.community-list.home-link.libros=discover?filtertype=type&filter_relational_operator=equals&filter=Libro&sort_by=dc.date.accessioned_dt&order=desc
xmlui.community-list.home-link.redunci=handle/10915/18267
xmlui.community-list.home-link.radio=handle/10915/25224
xmlui.community-list.home-link.bdigital=handle/10915/18173
xmlui.community-list.home-link.rea=handle/10915/34144
xmlui.community-list.home-link.redmuseos=handle/10915/27268
xmlui.community-list.home-link.ehidrica=handle/10915/26450

xmlui.community-list.ordered-home-links=tesis,revistas,eventos,libros,dataset,redunci,radio,rea,redmuseos,ehidrica
xmlui.community-list.ordered-community-links=tesis,revistas,eventos,dataset,redunci,radio,bdigital,rea,redmuseos,ehidrica

# variable que determina el modo de muestra. Si es True significa que esta en debug
xmlui.debug=${default.xmlui.debug}

# Direccion de mail al cual serán enviados las excepciones de dspace en modo produccion exceptionAction.mailRecipient=admin@sedici.unlp.edu.ar
exceptionAction.mailRecipient=dspace-admin@sedici.unlp.edu.ar

# Limite para el search de discovery
xmlui.discovery.search-limit =  60

# Limite para el máximo y el default de resultados por pagina del browse
xmlui.artifactbrowser.ConfigurableBrowse.max-rpp =  100

xmlui.artifactbrowser.ConfigurableBrowse.default-rpp =  60

xmlui.submission.supported_locales = es,en,pt,it,fr,de

map.licenses =  \
http://creativecommons.org/licenses/by-nc-nd/2.5/ar/ = Creative Commons Attribution-NonCommercial-NoDerivs 2.5 Argentina (CC BY-NC-ND 2.5),\
http://creativecommons.org/licenses/by-nc-sa/2.5/ar/ = Creative Commons Attribution-NonCommercial-ShareAlike 2.5 Argentina (CC BY-NC-SA 2.5),\
http://creativecommons.org/licenses/by-nc/2.5/ar/ = Creative Commons Attribution-NonCommercial 2.5 Argentina (CC BY-NC 2.5),\
http://creativecommons.org/licenses/by-nd/2.5/ar/ = Creative Commons Attribution-NoDerivs 2.5 Argentina (CC BY-ND 2.5),\
http://creativecommons.org/licenses/by-sa/2.5/ar/ = Creative Commons Attribution-ShareAlike 2.5 Argentina (CC BY-SA 2.5),\
http://creativecommons.org/licenses/by/2.5/ar/ = Creative Commons Attribution 2.5 Argentina (CC BY 2.5),\
http://creativecommons.org/licenses/by-nc-nd/3.0/ = Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported (CC BY-NC-ND 3.0),\
http://creativecommons.org/licenses/by-nc-sa/3.0/ = Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0),\
http://creativecommons.org/licenses/by-nc/3.0/ = Creative Commons Attribution-NonCommercial 3.0 Unported (CC BY-NC 3.0),\
http://creativecommons.org/licenses/by-nd/3.0/ = Creative Commons Attribution-NoDerivs 3.0 Unported (CC BY-ND 3.0),\
http://creativecommons.org/licenses/by-sa/3.0/ =  Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0),\
http://creativecommons.org/licenses/by/3.0/ = Creative Commons Attribution 3.0 Unported (CC BY 3.0),\
http://creativecommons.org/licenses/by-nc-nd/4.0/ = Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0),\
http://creativecommons.org/licenses/by-nc-sa/4.0/ = Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0),\
http://creativecommons.org/licenses/by-nc/4.0/ = Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0),\
http://creativecommons.org/licenses/by-nd/4.0/ = Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0),\
http://creativecommons.org/licenses/by-sa/4.0/ =  Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0),\
http://creativecommons.org/licenses/by/4.0/ = Creative Commons Attribution 4.0 International (CC BY 4.0),\
http://creativecommons.org/publicdomain/mark/1.0/ = Creative Commons Public Domain Mark (PDM),\
https://creativecommons.org/publicdomain/zero/1.0/deed.es = CC0 1.0 Universal (CC0 1.0) Dedicación de Dominio Público,\
https://opendatacommons.org/licenses/odbl/1-0/ = Open Data Commons Open Database License (ODbL) v1.0,\
https://opendatacommons.org/licenses/by/1-0/ = Open Data Commons Attribution License (ODC-By) v1.0,\
https://opendatacommons.org/licenses/pddl/1-0/ = Open Data Commons Public Domain Dedication and License (PDDL) v1.0
