#---------------------------------------------------------------#
#---------------SOLR AUTHORITY CONFIGURATIONS-------------------#
#---------------------------------------------------------------#
# These configs are only used by the SOLR authority index       #
#---------------------------------------------------------------#

# Update item metadata displayed values (not the authority keys)
# with the lasted cached versions when running the UpdateAuthorities index script
#solrauthority.auto-update-items=false
