#---------------------------------------------------------------#
#------------SUBMISSION LOOKUP CONFIGURATIONS-------------------#
#---------------------------------------------------------------#
# This file contains configuration for retrieve external data   #
#---------------------------------------------------------------#

# The API key "is" the email address you use to register on CrossRef  
crossref.api-key = noapi-key

# Set to true to used a demo service
remoteservice.demo = false