#---------------------------------------------------------------#
#--------CONFIGURABLE REVIEWER WORKFLOW CONFIGURATIONS----------#
#---------------------------------------------------------------#
# Configuration properties used solely by the Configurable      #
# Reviewer Workflow (XMLUI only)                                #
#---------------------------------------------------------------#
#Selection of workflow framework that will be used in DSpace
# Possible values:
#   originalworkflow = Traditional DSpace Workflow
#   xmlworkflow = New (as of 1.8.0) Configurable Reviewer Workflow
workflow.framework=originalworkflow
#workflow.framework=xmlworkflow

#Allow the reviewers to add/edit/remove files from the submission
#When changing this property you might want to alert submitters in the license that reviewers can alter their files
reviewer.file-edit=false