#---------------------------------------------------------#
#-------------------ZDB services--------------------------#
#    These configs are used by DSpaceZDBConfiguration     #
#---------------------------------------------------------#
cris.zdb.search.url = http://services.dnb.de/sru/zdb
cris.zdb.detail.url = http://ld.zdb-services.de/data/{0}.rdf