<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>journal-submit</display-name>

	<!-- DSpace Configuration Information -->
	<context-param>
		<param-name>dspace.config</param-name>
		<param-value>${dspace.dir}/config/dspace.cfg</param-value>
	</context-param>
	
	<!-- new ConfigurationService initialization for dspace.dir -->
	<context-param>
		<param-name>dspace.dir</param-name>
		<param-value>${dspace.dir}</param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<servlet>
		<description>Servlet that processes email submissions from publishers</description>
		<display-name>DryadEmailSubmission</display-name>
		<servlet-name>DryadEmailSubmission</servlet-name>
		<servlet-class>org.datadryad.submission.DryadEmailSubmission</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>DryadEmailSubmission</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
