
<VirtualHost *>

  ServerName sedici.unlp.edu.ar
  DocumentRoot /var/sedici/www/document_root

  <Directory /var/sedici/www/document_root>
    Options -Indexes FollowSymLinks
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>


  ErrorLog /var/log/apache2/error-sedici.log

  LogLevel warn

  CustomLog /var/log/apache2/access-sedici.log combined
</VirtualHost>

