#
# The contents of this file are subject to the license and copyright
# detailed in the LICENSE and NOTICE files at the root of the source
# tree and available online at
#
# http://www.dspace.org/license/
#

networks:
  # Default to using network named 'dspacenet' from docker-compose.yml.
  # Its full name will be prepended with the project name (e.g. "-p d7" means it will be named "d7_dspacenet")
  default:
    name: ${COMPOSE_PROJECT_NAME}_dspacenet
    external: true
services:
  dspace-angular:
    container_name: dspace-angular
    depends_on:
    - dspace
    environment:
      DSPACE_UI_SSL: 'false'
      DSPACE_UI_HOST: dspace-angular
      DSPACE_UI_PORT: '4000'
      DSPACE_UI_NAMESPACE: /
      DSPACE_REST_SSL: 'false'
      DSPACE_REST_HOST: localhost
      DSPACE_REST_PORT: 8080
      DSPACE_REST_NAMESPACE: /server
    image: dspace/dspace-angular:dspace-7_x
    ports:
    - published: 4000
      target: 4000
    - published: 9876
      target: 9876
    stdin_open: true
    tty: true
