/.angular/cache
/__build__
/__server_build__
/node_modules
/typings
/tsd_typings/
npm-debug.log

/build/

/coverage

/dist/
/coverage/

.idea
*.iml
*.ngfactory.ts
*.css.shim.ts
*.scss.shim.ts

.DS_Store

webpack.records.json

/npm-debug.log.*

morgan.log

yarn-error.log

*.css

package-lock.json

.java-version

.env
/nbproject/

junit.xml
