<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="SUBMIT_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/opt/dryad/log/journal-submit.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c @ %m%n"/>
		</layout>
	</appender>

	<!-- Console adapters, useful for development but should not be
	     used in production.  Standard IDE logging integration with
	     logging source file and line numbers printed on every statement -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %m [%c]%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%F:%L] %-5p &lt;%m&gt; %n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN"/>
			<param name="LevelMax" value="FATAL"/>
		</filter>
	</appender>

	<!-- # block services logging except on exceptions -->
	<logger name="org.dspace.kernel">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.services">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.servicemanager">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.providers">
		<level value="ERROR"/>
	</logger>
	<logger name="org.dspace.utils">
		<level value="ERROR"/>
	</logger>
	
	<logger name="org.datadryad.submission">
		<level value="DEBUG"/>
		<appender-ref ref="SUBMIT_FILE"/>
	</logger>

	<!-- Add appenders you want live here -->
	<root>
		<level value="INFO"/>
		<appender-ref ref="STDOUT"/>
	</root>

</log4j:configuration>
