<?xml version="1.0" encoding="UTF-8" ?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    http://www.dspace.org/license/

-->
<web-app id="XOAILynCode" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>XOAI Data Provider</display-name>
	
	<context-param>
		<description>
			The location of the main DSpace configuration file
		</description>
		<param-name>dspace-config</param-name>
		<param-value>${dspace.dir}/config/dspace.cfg</param-value>
	</context-param>

	<context-param>
		<description>The location of the main DSpace configuration file</description>
		<param-name>dspace.dir</param-name>
		<param-value>${dspace.dir}</param-value>
	</context-param>

        <!--
          DSpace Kernel startup listener. This listener is in charge of initializing/starting the
          DSpace Kernel. It MUST be listed BEFORE any other DSpace listeners, as DSpace services
          will not function until the Kernel is initialized.
         -->
        <listener>
                <listener-class>org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener</listener-class>
        </listener>

	<listener>
		<listener-class>org.dspace.app.util.DSpaceContextListener</listener-class>
	</listener>

    <servlet>
        <servlet-name>oai</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>
                org.springframework.web.context.support.AnnotationConfigWebApplicationContext
            </param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>org.dspace.xoai.app.DSpaceWebappConfiguration</param-value>
        </init-param>
    </servlet>

	<servlet-mapping>
		<servlet-name>oai</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
