:host ::ng-deep {
  --ds-wrapper-grid-spacing: calc(var(--bs-spacer) / 2);

  div.card {
    margin-top: var(--ds-wrapper-grid-spacing);
    margin-bottom: var(--ds-wrapper-grid-spacing);

    div.thumbnail > .thumbnail-content {
      height: var(--ds-card-thumbnail-height);
      width: 100%;
      display: block;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: 50% 15%;
    }
  }
}

.card-columns {
  margin-left: calc(-1 * var(--ds-wrapper-grid-spacing));
  margin-right: calc(-1 * var(--ds-wrapper-grid-spacing));
  column-gap: 0;

  .card-column {
    padding-left: var(--ds-wrapper-grid-spacing);
    padding-right: var(--ds-wrapper-grid-spacing);
  }
}
