
.image-gallery-tile {
    background-color: #E8E8E8;
    border: 1px solid #D1D1D1;
    height: 260px;
    display: inline-block;
    position: relative;
    margin: 12px 12px;
    margin-left: 18px;
    padding: 14px;
    text-align: center;
}

.image-gallery-tile a.image-gallery-anchor {
    height: 200px;
    width: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.image-gallery-tile img.image-gallery-thumbnail {
    border: 1px solid #D1D1D1;
    max-width: 200px;
    max-height: 200px;
}

.image-gallery-tile .image-gallery-title {   
    font-weight: bolder;
    font-size: 100%;
    height: 1.2em;
    overflow: hidden;
}

.image-gallery-tile .image-gallery-date {
    font-size: 90%;
    margin: 0 0 8px;
}

.image-gallery-tile .image-gallery-links a img {
    padding: 0 3px 0 0;
}

.image-gallery-save-link img {
    margin-left: 46px;
}

.image-gallery-save-options {
    border: 1px solid #aaa;
    border-width: 1px 1px 0;
    display: inline-block;
    position: relative;
    background-color: #eee;
    z-index: 100;
}

.image-gallery-save-options a {
    display: block;
    border-bottom: 1px solid #aaa;
    text-decoration: none !important;
    color: #666 !important;
    font-size: 80%;
    padding: 3px 6px;
}

.clear {
    clear: both;
}

#aspect_artifactbrowser_ConfigurableBrowse_div_browse-by-dateissued-results,
#aspect_artifactbrowser_ConfigurableBrowse_div_browse-by-title-results,
#aspect_artifactbrowser_ConfigurableBrowse_div_browse-by-author-results,
#aspect_artifactbrowser_ConfigurableBrowse_div_browse-by-subject-results
{
    border: none;
}

.detail-view .ds-logo-wrapper {
    border: 1px solid #D1D1D1;
    float: left;
    margin: 24px;
    margin-right: 32px;
}