<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>dspace-solr</display-name>

	<!--
		Uncomment if you are trying to use a Resin version before 3.0.19.
		Their XML implementation isn't entirely compatible with Xerces. Below
		are the implementations to use with Sun's JVM. <system-property
		javax.xml.xpath.XPathFactory=
		"com.sun.org.apache.xpath.internal.jaxp.XPathFactoryImpl"/>
		<system-property javax.xml.parsers.DocumentBuilderFactory=
		"com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl"/>
		<system-property javax.xml.parsers.SAXParserFactory=
		"com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl"/>
	-->

	<!--
		People who want to hardcode their "Solr Home" directly into the WAR
		File can set the JNDI property here... 
	
	<env-entry>
		<env-entry-name>solr/home</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>solr</env-entry-value>
	</env-entry>
		-->
		
	<!-- Configuration Information -->

	<context-param>
		<description>The location of the main DSpace configuration file</description>
		<param-name>dspace-config</param-name>
		<param-value>${dspace.dir}/config/dspace.cfg</param-value>
	</context-param>

	<!--
		Any path (name) registered in solrconfig.xml will be sent to that
		filter
	-->
	<filter>
		<filter-name>SolrRequestFilter</filter-name>
		<filter-class>org.apache.solr.servlet.SolrDispatchFilter</filter-class>
		<!--
			If you are wiring Solr into a larger web application which controls
			the web context root, you will probably want to mount Solr under a
			path prefix (app.war with /app/solr mounted into it, for example).
			You will need to put this prefix in front of the SolrDispatchFilter
			url-pattern mapping too (/solr/*), and also on any paths for legacy
			Solr servlet mappings you may be using. For the admin JSP's to work
			properly in a path-prefixed configuration, the admin folder
			containing the JSPs needs to be under the app context root named to
			match the path-prefix. For example: .war xxx admin stats.jsp
		-->
		<!--
			<init-param> <param-name>path-prefix</param-name>
			<param-value>/xxx</param-value> </init-param>
		-->
	</filter>

	<filter-mapping>
		<!--
			NOTE: When using multicore, /admin JSP URLs with a core specified
			such as /solr/coreName/admin/stats.jsp get forwarded by a
			RequestDispatcher to /solr/admin/stats.jsp with the specified core
			put into request scope keyed as "org.apache.solr.SolrCore". It is
			unnecessary, and potentially problematic, to have the
			SolrDispatchFilter configured to also filter on forwards. Do not
			configure this dispatcher as <dispatcher>FORWARD</dispatcher>.
		-->
		<filter-name>SolrRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.dspace.solr.listeners.AntInitListener</listener-class>
	</listener>
	<!-- Otherwise it will continue to the old servlets -->

	<servlet>
		<description>Solr Server</description>
		<display-name>Solr Server</display-name>
		<servlet-name>SolrServer</servlet-name>
		<servlet-class>org.apache.solr.servlet.SolrServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<description>Solr Update Handler</description>
		<display-name>Solr Update</display-name>
		<servlet-name>SolrUpdate</servlet-name>
		<servlet-class>org.apache.solr.servlet.SolrUpdateServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Logging</servlet-name>
		<servlet-class>org.apache.solr.servlet.LogLevelSelection</servlet-class>
	</servlet>

	<!-- @Deprecated -->
	<servlet>
		<servlet-name>ping</servlet-name>
		<jsp-file>/admin/ping.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>SolrServer</servlet-name>
		<url-pattern>/select/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SolrUpdate</servlet-name>
		<url-pattern>/update/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Logging</servlet-name>
		<url-pattern>/admin/logging</url-pattern>
	</servlet-mapping>

	<!-- @Deprecated -->
	<servlet-mapping>
		<servlet-name>ping</servlet-name>
		<url-pattern>/admin/ping</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>.xsl</extension>
		<!-- per http://www.w3.org/TR/2006/PR-xslt20-20061121/ -->
		<mime-type>application/xslt+xml</mime-type>
	</mime-mapping>

</web-app>
