<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
 - web.xml
 -
 - Version: $Revision$
 -
 - Date: $Date$
 -
 - Copyright (c) 2001, Hewlett-Packard Company and Massachusetts
 - Institute of Technology.  All rights reserved.
 -
 - Redistribution and use in source and binary forms, with or without
 - modification, are permitted provided that the following conditions are
 - met:
 -
 - - Redistributions of source code must retain the above copyright
 - notice, this list of conditions and the following disclaimer.
 -
 - - Redistributions in binary form must reproduce the above copyright
 - notice, this list of conditions and the following disclaimer in the
 - documentation and/or other materials provided with the distribution.
 -
 - - Neither the name of the Hewlett-Packard Company nor the name of the
 - Massachusetts Institute of Technology nor the names of their
 - contributors may be used to endorse or promote products derived from
 - this software without specific prior written permission.
 -
 - THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 - ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 - LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 - A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 - HOLDERS OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 - INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 - BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
 - OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 - ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
 - TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
 - USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
 - DAMAGE.
-->

<!--
  - The is the servlet deployment descriptor for Tomcat 4.0 for the DSpace
  - Web user interface
  -->

<web-app>

  <display-name>DSpace Web UI</display-name>


  <!-- Filters -->

  <filter>
    <filter-name>admin-only</filter-name>
    <filter-class>org.dspace.app.webui.filter.AdminOnlyFilter</filter-class>
  </filter>

  <filter>
    <filter-name>mit-only</filter-name>
    <filter-class>edu.mit.dspace.MITOnlyFilter</filter-class>
  </filter>

  <filter>
    <filter-name>registered-only</filter-name>
    <filter-class>org.dspace.app.webui.filter.RegisteredOnlyFilter</filter-class>
  </filter>


  <!-- Filter mappings -->
  
  <filter-mapping>
    <filter-name>admin-only</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/mydspace</url-pattern>
  </filter-mapping>
    
  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>registered-only</filter-name>
    <url-pattern>/submit</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/browse-author</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/browse-date</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/browse-title</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/community-list</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/display-item</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/items-by-author</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/communities/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/retrieve/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>mit-only</filter-name>
    <url-pattern>/simple-search</url-pattern>
  </filter-mapping>



  <!-- Servlets -->

  <servlet>
    <servlet-name>authorize</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.AuthorizeEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>browse-author</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.BrowseServlet</servlet-class>
    <init-param>
      <param-name>browse</param-name>
      <param-value>authors</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>browse-date</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.BrowseServlet</servlet-class>
    <init-param>
      <param-name>browse</param-name>
      <param-value>dates</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>browse-title</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.BrowseServlet</servlet-class>
    <init-param>
      <param-name>browse</param-name>
      <param-value>titles</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>certificate-login</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.X509CertificateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>community-list</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.CommunityListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dc-registry</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.DCTypeRegistryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>display-item</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.DisplayItemServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-communities</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EditCommunitiesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>groups</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.GroupEditServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-epeople</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EditEPersonServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-item</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.EditItemServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>feedback</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.FeedbackServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>forgot</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RegisterServlet</servlet-class>
    <init-param>
      <param-name>register</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>format-registry</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.BitstreamFormatRegistry</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>internal-error</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.InternalErrorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>items-by-author</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.ItemsByAuthorServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>location</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.LocationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>mydspace</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.MyDSpaceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>password-login</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.PasswordServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.EditProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RegisterServlet</servlet-class>
    <init-param>
      <param-name>register</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>retrieve</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.RetrieveServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>simple-search</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SimpleSearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>submit</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.SubmitServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>workflow</servlet-name>
    <servlet-class>org.dspace.app.webui.servlet.admin.WorkflowAbortServlet</servlet-class>
  </servlet>


  <!-- Servlet Mappings -->

  <servlet-mapping>
    <servlet-name>authorize</servlet-name>
    <url-pattern>/admin/authorize</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browse-author</servlet-name>
    <url-pattern>/browse-author</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browse-date</servlet-name>
    <url-pattern>/browse-date</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>browse-title</servlet-name>
    <url-pattern>/browse-title</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>certificate-login</servlet-name>
    <url-pattern>/certificate-login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>community-list</servlet-name>
    <url-pattern>/community-list</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dc-registry</servlet-name>
    <url-pattern>/admin/dc-registry</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>display-item</servlet-name>
    <url-pattern>/item/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-communities</servlet-name>
    <url-pattern>/admin/edit-communities</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-epeople</servlet-name>
    <url-pattern>/admin/edit-epeople</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>groups</servlet-name>
    <url-pattern>/admin/groups</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>edit-item</servlet-name>
    <url-pattern>/admin/edit-item</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>format-registry</servlet-name>
    <url-pattern>/admin/format-registry</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>internal-error</servlet-name>
    <url-pattern>/internal-error</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>items-by-author</servlet-name>
    <url-pattern>/items-by-author</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>location</servlet-name>
    <url-pattern>/communities/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>mydspace</servlet-name>
    <url-pattern>/mydspace</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>password-login</servlet-name>
    <url-pattern>/password-login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>retrieve</servlet-name>
    <url-pattern>/retrieve/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>simple-search</servlet-name>
    <url-pattern>/simple-search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>submit</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>workflow</servlet-name>
    <url-pattern>/admin/workflow</url-pattern>
  </servlet-mapping>



  <!-- Icon MIME type -->
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>


  <!-- Error pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/internal-error</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/internal-error</location>
  </error-page>


  <!-- DSpace JSP Tag Library -->
  <taglib>
    <taglib-uri>http://www.dspace.org/dspace-tags.tld</taglib-uri>
    <taglib-location>/WEB-INF/dspace-tags.tld</taglib-location>
  </taglib>

</web-app>
