/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * https://github.com/CILEA/dspace-cris/wiki/License
 */
.oauth-icons {
    list-style: outside none none;
    padding: 0;
}

.oauth-scopes {
	list-style: outside none none;
	padding: 0;
}

.mini-icon {
    display: block;
    float: left;
    font-size: 25px;
    height: 30px;
    margin-right: 10px;
    width: 30px;
}
.oauth-bullet {
    background: transparent url("../images/mini-icon-orcid.png") no-repeat scroll 0 0 / 30px 30px;
    height: 30px;
    margin-right: 10px;
    width: 30px;
}
.mini-orcid-icon {
    background: transparent url("../images/mini-icon-orcid.png") no-repeat scroll 0 0 / 30px 30px;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
}
.green {
    color: #a6ce39;
}