/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * https://github.com/CILEA/dspace-cris/wiki/License
 */
div.box-content ul {
	list-style-type: none;
	margin-left: 0px;
}

div.box-content ul li a img {
	border: 0px;
}

div#content-stats {
	margin-left: 3px;
	margin-right: -15px;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	/*	border: 1px solid #ebebeb;
	background-color: #ebebeb;*/
}

div.stats-tab a:hover {
	text-decoration: none;
	font-weight: bold;
}

div.stats-tab {
	
}

div.stats-tab-current {
	background: url('../images/double_arrow.png') 0% 30% no-repeat;
	font-weight: bold;
	padding-left: 15px;
	/*	margin-left: -25px;
	padding-left: 25px;
	line-height: 250%;
	background-color: #ebebeb;*/
}

div#statstab-menu ul {
	background-color: #960028;
	list-style-type: none;
	padding: 0px;
	margin-bottom: 0px;
}

div#statstab-menu ul li:hover {
	background-color: rgba(255, 255, 255, .35);
}

div#statstab-menu ul li {
	line-height: 200%;
	width: 94px;
	display: inline-block;
	text-align: center;
	color: #fff;
	border: 5px solid #FFFFFF;
	cursor: pointer;
	*display: inline;
	zoom: 1;
}

div#statstab-menu ul li.statstab-current {
	background-color: #101010;
	border-bottom-color: #101010;
	color: #fff;
	font-weight: bold;
}

div#statstab-content {
	background-color: #606060;
	width: 100%;
	min-height: 400px;
}

div.statstab-content-item {
	display: none;
}

div.statstab-show {
	display: block;
}

table.statsTable {
	border: 0px;
	width: 100%;
	color: #fff;	
}

table.statsTable tr td {
	background-color: #111;
	color: #FFFFFF;
}

table.statsTable tr td a {
	color: #FFFFFF;
}

.target_stats {
	width: 100%;
	background: url('../images/background_stats.png') repeat;
}

.target_stats_button {
	background-color: #101010;
	text-align: center;
}

.target_stats_button a {
	color: #FFFFFF;
}

.dashboard_stats {
	background: url('../images/background_stats.png') repeat;
	display: block;
	margin: 0 auto;
	width: 100%;
}