<ng-container [ngSwitch]="status">
  <i *ngSwitchCase="HealthStatus.UP"
     class="fa fa-check-circle text-success ml-2 mt-1"
     ngbTooltip="{{'health-page.status.ok.info' | translate}}" container="body" ></i>
  <i *ngSwitchCase="HealthStatus.UP_WITH_ISSUES"
     class="fa fa-exclamation-triangle text-warning ml-2 mt-1"
     ngbTooltip="{{'health-page.status.warning.info' | translate}}" container="body"></i>
  <i *ngSwitchCase="HealthStatus.DOWN"
     class="fa fa-times-circle text-danger ml-2 mt-1"
     ngbTooltip="{{'health-page.status.error.info' | translate}}" container="body"></i>

</ng-container>
