TY  - @virtual.reftype.refman@
AU  - @virtual.bibauthors.author@
T1  - @dc.title@
T2  - @dc.title.alternative@
PY  - @dc.date.issued@
PB  - @dc.publisher@
CY  - @dc.publisher.place@
JO  - @dc.relation.ispartof@
VL  - @dc.relation.volume@
IS  - @dc.relation.issue@
N2  - @dc.description.abstract@
UR  - @dc.identifier.url@
DO  - doi:@dc.identifier.doi@
SP  - @dc.relation.firstpage@
EP  - @dc.relation.lastpage@
KW  - @virtual.keywords.single@
LA  - @dc.language.iso@
ER  - 